header
{
position:fixed;
top:0%;
left:0%;
width:100% ;
height:15% ;
/*background-color:lightgrey;*/
background-image: url("headerbg.png");
}

#generalinfo
{
position:absolute;
top:0%;
width:95% ;
height:20% ;
background-color:inherit;
color:white;
z-index:1;
}

#clock {
display:inline-block;
width:5%;
position:absolute;
color:green;
font-size:120%;
text-align:center;
}

#pagetitle {
display=inline-block;
width:70%;
left:5%;
position:absolute;
color:black;
text-align:center;
}

#user
{
margin:0%;
padding:0%;
display:inline-block;
position:absolute;
top:0%;
right:0%;
width:5%;
font-size:100%;
z-index:30;
}
#user li {
margin:0% ;
padding:0% ; 
list-style:none; 
float:left;
}
#user li a {
display:block ; margin:0% ; padding:0% ;}
#user li a:hover {
font-size:130%;
}

#user div {
position:absolute ; 
visibility:hidden;
margin:0%;
padding:0%;
}
#user div a { 
display:block; margin:0%; padding:0% ; width:auto ; position:relative;}
#user div a:hover {
}

/*
overflow:hidden;
transition: height 2s;
-moz-transition: height 2s;
-webkit-transition: height 2s;
-o-transition: height 2s;
}
#user:hover {
height:10%;
overflow:visible;
}
*/

#logo
{
display:inline-block;
position:absolute;
top:20%;
left:0%;
width:12% ;
height:80%;
text-shadow: 5px 5px 5px #0000ff ;
color: #191970;
font-size:200% ;
text-align:center;
margin:0;
padding:0;
}

#mainsummary
{
display: inline-block;
position:absolute;
top:20%;
left:12%;
width:88%;
height:60%;
z-index:2;
/*background-color:green;*/
}

nav
{
display=inline-block;
position:absolute;
top:80% ;
left:12%;
width:78% ;
height:20%;
/*background-color:yellow;*/
}
nav ul {list-style-type:none;}
nav li {display:inline;} 

#search
{
display=inline-block;
position:absolute;
margin:0;
padding:0;
top:0% ;
right:0%;
width 10%;
height:20%;
}
