header
{
position:fixed;
top:0%;
left:0%;
width:100% ;
height:15% ;
/*background-color:lightgrey;*/
background-image: url("headerbg.png")
}

#generalinfo
{
display:inline-block;
position:fixed;
top:0%;
width:100% ;
height:3% ;
/*background-color:blue;*/
color:white;
}

#user
{
display:inline-block;
position:fixed;
right:0%;
height:3%;
font-size:1.22em;
background-color:green;
overflow:hidden;
z-index:3;
transition: height 2s;
-moz-transition: height 2s; /* Firefox 4 */
-webkit-transition: height 2s; /* Safari and Chrome */
-o-transition: height 2s; /* Opera */
}
#user:hover {
height:10%;
overflow:visible;
}

#logo
{
display:inline-block;
position:fixed;
top:3%;
left:0%;
width:12% ;
height:12%;
}
#logo h1 {
text-align:center;
margin:0%;
padding:0px;
}

#mainsummary
{
display: inline-block;
position:fixed;
top:3%;
left:12%;
width:88%;
height:8%;
z-index:2;
/*background-color:green;*/
}

nav
{
display=inline-block;
position:fixed;
top:11% ;
left:12%;
width:63% ;
height:4%;
/*background-color:yellow;*/
}
nav ul {list-style-type:none;}
nav li {display:inline;} 

#search
{
display=inline-block;
position:fixed;
top:11% ;
right:0%;
width 25%;
height:4%;
}
