header
{
position:fixed;
top:0%;
left:0%;
width:100% ;
height:15% ;
/*background-color:lightgrey;*/
background-image: url("headerbg.png");
}

#generalinfo
{
position:fixed;
top:0%;
width:100% ;
height:5% ;
background-color:blue;
color:white;
z-index:1;
}

#clock {
display:inline-block;
width:5%;
position:fixed;
color:green;
font-size:120%;
text-align:center;
}

#pagetitle {
display=inline-block;
width:70%;
left:5%;
position:fixed;
color:black;
}

#user
{
margin:0%;
padding:0%;
display:inline-block;
position:fixed;
top:0%;
right:0%;
font-size:100%;
background-color:green;
z-index:3;
}
#user li
{ margin:0% ; padding:0% ; list-style:none; float:left}
#user li a
{ display:block ; margin:0% ; padding:0% ; color:red;}
#user li a:hover
{background-color:blue;}

#user div
{
position:fixed ; 
visibility:hidden;
margin:0%;
padding:0%;
background:green;
}
#user div a
{ display:inline-block; margin:0%; padding:0% ; width:auto ; position:relative; color:yellow;}
#user div a:hover
{ background-color:red; }

/*
overflow:hidden;
transition: height 2s;
-moz-transition: height 2s;
-webkit-transition: height 2s;
-o-transition: height 2s;
}
#user:hover {
height:10%;
overflow:visible;
}
*/

#logo
{
display:inline-block;
position:fixed;
top:3%;
left:0%;
width:12% ;
height:12%;
text-shadow: 5px 5px 5px #0000ff ;
color: #191970;
font-size:250% ;
text-align:center;
margin:0%;
padding:0px;
}

#mainsummary
{
display: inline-block;
position:fixed;
top:3%;
left:12%;
width:88%;
height:8%;
z-index:2;
/*background-color:green;*/
}

nav
{
display=inline-block;
position:fixed;
top:11% ;
left:12%;
width:63% ;
height:4%;
/*background-color:yellow;*/
}
nav ul {list-style-type:none;}
nav li {display:inline;} 

#search
{
display=inline-block;
position:fixed;
top:11% ;
right:0%;
width 25%;
height:4%;
}
