body
{
  background-color:#FDF6DF ;
  padding-top:30px;
}

nav
{
  background-color:#FFECB0;
  margin:0;
  padding:0;
  font-size:8px;
  letter-spacing:2px;
}

header
{
  background-color:#FFEFBE;
}

footer
{
  text-align:center;
  background-color:black;
  color:white;
  position:fixed;
  width:100%;
  bottom:0%;
}

footer a:link {
  color:yellow ;
}

h3 {
  text-align:center;
  color:black;
}

h4 {
  text-align:center;
  color:blue;
}

/*
pagetitle {
  background-color:#FFFFFF;
}

/*background-color:rgba(125, 125, 125, 0.2);*/
/*font-size:100% ; /* In order to make the font size in all browsers look the same ; use it with "em"  (1em = 16px) */
/*font-family:"Times New Roman", "Helvetica", "Arial", "Sans-serif" ; */
/*
h1 {
font-size:250% ;
color: #191970;
text-shadow: 5px 5px 5px #0000ff ;
} 

p
{
font-family:"Helvetica", "Arial", "Sans-serif" ; font-size:1.25em ;
font-size:20px ;
}

a:link {color:black ; text-decoration:underline ;}
a:visited {color:black ; text-decoration:underline ;}
a:hover {color:blue ;}
a:active {color:red ; text-decoration:underline ;}

.center {text-align:center;}

.hidden {display:none;}

.left {float:left;}
.right {float:right;}

.inline {display:inline;}
nav ul {list-style-type:none;}
nav li {display:inline;} 

.alert {color:red;}
*/
