#general {
display:inline-block;
position:relative;
left:0%;
width:34%;
height:100%;
background-color:blue;
}

#address {
display:inline-block;
position:relative;
left:34%;
width:33%;
height:100%;
background-color:white;
}

#phone {
display:inline-block;
position:relative;
left:67%;
width:33%;
top:0%;
height:70%;
background-color:yellow;
}

#mail {
display:inline-block;
position:relative;
left=67%;
width:33%;
top:70%;
height:30%;
background-color:green;
}
