#update_user {
visibility:hidden;
}

#gen_info {
display:inline-block;
position:absolute;
}

#address {
display:inline-block;
position:absolute;
}

#phone {
display:inline-block;
position:absolute;
}

#mail {
display:inline-block;
position:absolute;
}

#password_container {
display:inline-block;
position:absolute;
}

.hidden {
display:none;
}
