{% macro act_table_opening_tag(table_title) %}
  <table border=1>
    <caption>{{ table_title }}</caption>
{% endmacro %}

{% macro act_table_header(session) %}
    <tr>
      <th class="hidden">Id</th>
      <th>Date</th>
      <th>Specialty</th>
      {% if session.role == session.ROLE_DENTIST %}
        <th>Act</th>
        <th>Anat loc</th>
      {% endif %}
      <th>Code</th>
      <th>Price</th>
      <th>Invoice ID</th>
      <th>Payment</th>
      <th>Mod</th>
      <th>Del</th>
    </tr>
{% endmacro %}

{% macro act_table_rows(session, gesture, appointment, act_info, specialty, patient) %}
      {% if gesture.paid == True %}
        <tr style="color:blue;">
      {% else %}
        <tr style="color:red;">
      {% endif %}
        <td class="hidden">{{ gesture.id }}</td>
        <td>{{ appointment.agenda.starttime.date() }}</td>
        <td>{{ specialty.name }}</td>
        {% if session.role == session.ROLE_DENTIST %}
          <td>{{ act_info.name }}</td>
          <td>{{ gesture.anatomic_location }}</td>
        {% endif %}
        <td>{{ gesture.gesture.code }}</td>
        <td>{{ gesture.price }}</td>
        <td>{{ gesture.invoice_id }}</td>
        <td>
          {% if gesture.is_paid == False 
            and patient.already_paid() - patient.gestures_marked_as_paid() >= gesture.price %}
          <a href="{{ url_for('apply_payment_to_gesture', patient_id=patient.id,
                                              gesture_id = gesture.id) }}">
            Apply payment</a>
          {% endif %}
        </td>
        {% if session.role == session.ROLE_DENTIST %}
          <td>Modify</td>
          <td>
            {% if gesture.is_paid == False or gesture.price == 0 %}
                <a href="{{url_for('remove_administrativ_gesture', 
                                            patient_id=appointment.patient_id, 
                                            appointment_id=appointment.id, 
                                            gesture_id=gesture.id, 
                                            code=gesture.gesture.code) }}"
                onclick="return confirm('Are you sure ?')">
              Delete</a>
            {% endif %}
          </td>
        {% else %}
          <td></td>
          <td></td>
        {% endif %}
      </tr>
{% endmacro %}

{% macro act_table_closing_tag() %}
  </table>
{% endmacro %}
