{% macro act_table_opening_tag(table_title) %}
  <table border=1>
    <caption>{{ table_title }}</caption>
{% endmacro %}

{% macro act_table_header(session) %}
    <tr>
      <th class="hidden">Id</th>
      <th>Date</th>
      <th>Specialty</th>
      {% if session.role == session.ROLE_DENTIST %}
        <th>Act</th>
        <th>Tooth</th>
      {% endif %}
      <th>Code</th>
      <th>Price</th>
      {% if session.role == session.ROLE_DENTIST %}
        <th>Invoice ID</th>
        <th></th>
      {% endif %}
    </tr>
{% endmacro %}

{% macro act_table_rows(session, gesture, tooth, appointment, act_info, specialty) %}
      {% if gesture.paid == True %}
        <tr style="color:blue;">
      {% else %}
        <tr style="color:red;">
      {% endif %}
        <td class="hidden">{{ gesture.id }}</td>
        <td>{{ appointment.agenda.starttime.date() }}</td>
        <td>{{ specialty.name }}</td>
        {% if session.role == session.ROLE_DENTIST %}
          <td>{{ act_info.name }}</td>
          <td>{{ tooth.name }}</td>
        {% endif %}
        <td>{{ gesture.code }}</td>
        <td>{{ gesture.price }}</td>
        {% if session.role == session.ROLE_DENTIST %}
          <td>{{ gesture.invoice_id }}</td>
          <td>Modify</td>
        {% endif %}
      </tr>
{% endmacro %}

{% macro act_table_closing_tag() %}
  </table>
{% endmacro %}
