{% from "_formhelpers.html" import render_field %}
{% from "_formhelpers.html" import render_simple_field, render_simple_hidden_field %}
{% from "_formhelpers.html" import render_table_field %}
{% from "_formhelpers.html" import render_table_hidden_field %}
{% from "_formhelpers.html" import render_field_js_onblur %}



{% macro add_phone_form_fields(phone_form) %}
  {{ render_simple_field(phone_form.phonename) }}
  {{ render_simple_field(phone_form.phoneindicatif) }}
  {{ render_simple_field(phone_form.phoneareacode) }}
  {{ render_simple_field(phone_form.phonenum) }}
{% endmacro %}

{% macro add_address_form_fields(address_form) %}
<script type=text/javascript src="/static/js/brasil_address.js"></script>
  {{ render_simple_field(address_form.street) }}
  {{ render_simple_field(address_form.street_number) }}
  {{ render_simple_field(address_form.building) }}
  {{ render_simple_field(address_form.complement) }}
  {{ render_simple_field(address_form.district) }}
  {{ render_simple_field(address_form.city) }}
  {{ render_field_js_onblur(address_form.zip_code) }}
  {{ render_simple_field(address_form.state) }}
  {{ render_simple_field(address_form.country) }}
{% endmacro %}

{% macro add_mail_form_fields(mail_form) %}
  {{ render_simple_field(mail_form.email) }}
{% endmacro %}



{% macro update_phone_form(phone_form, body, url_update, url_delete, url_add) %}
  <div id="phone">
    <table>
      <tr>
        <th class="hidden">index</th>
        <th>name</th>
        <th>indicatif</th>
        <th>area_code</th>
        <th>number</th>
        <th>action</th>
      </tr>
      {% for phone in body.phones %}
      <tr>
        <form method="post" action="{{ url_for(url_update, body_id=body.id, form_to_display='phone') }}">
          <td class="hidden"><input type="text" name="phone_index" value="{{ loop.index0 }}" /></td>
          {{ render_table_field(phone_form.phonename, value=phone.name) }}
          {{ render_table_field(phone_form.phoneindicatif, value=phone.indicatif) }}
          {{ render_table_field(phone_form.phoneareacode, value=phone.area_code) }}
          {{ render_table_field(phone_form.phonenum, value=phone.number) }}
          <td><input type="submit" value="Update" /></td>
        </form>
        <form class="hidden" method="post" action={{ url_for(url_delete, body_id=body.id, form_to_display='phone') }}>
          <input type="hidden" name="phone_id" value="{{ phone.id }}" />
          <td><input type="submit" value="Delete" /></td>
        </form>
      </tr>
      {% endfor %}
      <tr>
        <form method="post" action={{ url_for(url_add, body_id=body.id, form_to_display='phone') }}>
          <td class="hidden"></td>
          {{ render_table_field(phone_form.phonename) }}
          {{ render_table_field(phone_form.phoneindicatif) }}
          {{ render_table_field(phone_form.phoneareacode) }}
          {{ render_table_field(phone_form.phonenum) }}
          <td><input type="submit" value="Add new phone" /></td>
        </form>
      </tr>
    </table>
  </div>
{% endmacro %}

{% macro update_address_form(address_form, body, url_update) %}
  <div id="address">
    <table>
      <tr>
        <th class="hidden">id</th>
        <th>street</th>
        <th>street_number</th>
        <th>building</th>
        <th>complement</th>
        <th>district</th>
        <th>city</th>
        <th>zip_code</th>
        <th>state</th>
        <th>country</th>
        <th></th>
      </tr>
      <tr>
        <form method="post" action={{ url_for(url_update, body_id=body.id, form_to_display='address') }}>
          {{ render_simple_hidden_field(address_form.address_id, value=body.address.address_id) }}
          {{ render_table_field(address_form.street, value=body.address.street) }}
          {{ render_table_field(address_form.street_number, value=body.address.street_number) }}
          {{ render_table_field(address_form.building, value=body.address.building) }}
          {{ render_table_field(address_form.complement, value=body.address.complement) }}
          {{ render_table_field(address_form.street, value=body.address.district) }}
          {{ render_table_field(address_form.city, value=body.address.city) }}
          {{ render_table_field(address_form.zip_code, value=body.address.zip_code) }}
          {{ render_table_field(address_form.state, value=body.address.state) }}
          {{ render_table_field(address_form.country, value=body.address.country) }}
          <td><input type=submit value="Update" /></td>
        </form>
      </tr>
    </table>
  </div>
{% endmacro %}

{% macro update_mail_form(mail_form, body, url_update, url_delete, url_add) %}
  <div id="mail">
    <table>
      <tr>
        <th class="hidden">id</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
      {% for mail in body.mails %}
      <tr>
        <form method="post" action={{ url_for(url_update, body_id=body.id, 
                                                form_to_display='mail') }}>
          <td class="hidden"><input type="text" name="mail_index" 
                                    value="{{ loop.index0 }}" /></td>

          {{ render_table_field(mail_form.email, value=mail.email) }}

          <td><input type=submit value="Update" /></td>
        </form>

        <form class="hidden" method="post" 
                            action={{ url_for(url_delete, body_id=body.id, 
                                                form_to_display='mail') }}>
          <input type="hidden" name="mail_id" value="{{ mail.id }}" />
          <td><input type="submit" value="Delete" /></td>
        </form>
      </tr>
      {%endfor%}
      <tr>
        <form method=post action={{ url_for(url_add, body_id=body.id, form_to_display='mail') }}>
          <td class="hidden"></td>
          {{ render_table_field(mail_form.email) }}
          <td><input type=submit value="Add new email" /></td>
        </form>
      </tr>
    </table>
  </div>
{% endmacro %}
