{% from "_formhelpers.html" import render_simple_field, render_simple_hidden_field %}
{% extends "summary_patient.html" %}
{% block javascript_specific %}
  <script type="text/javascript" src="/static/js/event.js"></script>
{% endblock %}
{% block main %}
  <div id="event">
  {% block event %}
    <form method="post" action="{{ url_for('add_toothevent', patient_id=patient.id, appointment_id=session.appointment_id, event_id=event_id) }}">
      {{ render_simple_hidden_field(tooth_event_form.toothevent_id) }}
      {{ render_simple_hidden_field(tooth_event_form.event_id) }}
      {{ render_simple_field(tooth_event_form.sane) }}
      {{ render_simple_field(tooth_event_form.place) }}
      {{ render_simple_field(tooth_event_form.mobility) }}
      {{ render_simple_field(tooth_event_form.fracture) }}
      {{ render_simple_field(tooth_event_form.absence) }}
      {{ render_simple_field(tooth_event_form.replaced) }}
      {{ render_simple_field(tooth_event_form.implant) }}
      <input type="submit" value="Add" />
    </form>
  {% endblock %}
  </div>
{% endblock %}
