{% extends 'header.html' %}
{% block pagetitle %}
Add a Simple Sterilization Cycle
{% endblock %}
{% block main %}
{% from "_formhelpers.html" import render_table_field, render_table_hidden_field, render_field, render_hidden_field, render_field_js_onchange %}
<form method="post" action={{ url_for('add_sterilization_cycle') }}>

    {{ render_field(ste_cycle_form.user_id) }}
    {{ render_field(ste_cycle_form.sterilizer_id) }}
    {{ render_field(ste_cycle_form.cycle_type_id) }}
    {{ render_field(ste_cycle_form.cycle_mode_id) }}
    {{ render_field(ste_cycle_form.cycle_complement_id) }}
    {{ render_field(ste_cycle_form.cycle_date) }}
    {{ render_field(ste_cycle_form.reference) }}
    {{ render_field(ste_cycle_form.document) }}
<br />
Assets and Kits in this sterilization :<br />
  {% for asset in session['assets_to_sterilize'] %}
      
  {% endfor %}
<br />
<a href="{{ url_for('create_sterilization_list') }}">Update Assets List to sterilize</a>
<br />
<br />
Total number of assets in this sterilization cycle : {{ session['assets_to_sterilize']|length }}

  <p><input type="submit" value="Add sterilization cycle">
</form>

{% endblock %}
