{% extends 'layout.html' %}
{% block pagetitle %}
Add a new user
{% endblock %}
{% block main %}
{% from "_formhelpers.html" import render_field %}
<form method="post" action="/user/add/">
  <dl>
    {{ render_field(gen_info_form.username, autofocus="autofocus") }}
    {{ render_field(password_form.password) }}
    {{ render_field(password_form.confirm) }}
    {{ render_field(gen_info_form.role) }}
    {{ render_field(gen_info_form.title) }}
    {{ render_field(gen_info_form.lastname) }}
    {{ render_field(gen_info_form.firstname) }}
    {{ render_field(gen_info_form.sex) }}
    {{ render_field(gen_info_form.dob) }}
    {{ render_field(gen_info_form.qualifications) }}
    {{ render_field(gen_info_form.registration) }}
    {{ render_field(gen_info_form.correspondence_name) }}
    {{ render_field(gen_info_form.status, default=True) }}
    {{ render_field(gen_info_form.comments) }}
    {{ render_field(gen_info_form.avatar_id) }}
    {{ render_field(gen_info_form.modified_by) }}
      {{ render_field(phone_form.phonename) }}
      {{ render_field(phone_form.phonenum) }}
      {{ render_field(mail_form.email) }}
      {{ render_field(address_form.street) }}
      {{ render_field(address_form.building) }}
      {{ render_field(address_form.city) }}
      {{ render_field(address_form.postal_code) }}
      {{ render_field(address_form.county) }}
      {{ render_field(address_form.country) }}
  </dl>
  <p><input type="submit" value="Add">
</form>
{% endblock %}

<!---->
