{% extends 'header.html' %}
{% block pagetitle %}
Add a new assets' provider
{% endblock %}
{% block main %}
{% from "_formhelpers.html" import render_field, render_hidden_field %}
{% from "_contactformhelper.html" import add_address_form_fields %}
<form method="post" action="/provider/add/">
  <dl>
    {{ render_hidden_field(general_form.active) }}
    {{ render_field(general_form.name, autofocus="autofocus") }}
      {{ render_field(phone_form.phonename) }}
      {{ render_field(phone_form.phoneindicatif) }}
      {{ render_field(phone_form.phoneareacode) }}
      {{ render_field(phone_form.phonenum) }}
      {{ render_field(mail_form.email) }}
      {{ add_address_form_fields(address_form) }}
  </dl>
  <p><input type="submit" value="Add">
</form>
{% endblock %}

<!---->
