{% from "_formhelpers.html" import render_simple_field, render_simple_hidden_field %}
{% extends "summary_patient.html" %}
{% block javascript_specific %}
  <script type="text/javascript" src="/static/js/event.js"></script>
{% endblock %}
{% block main %}
  <div id="event">
  {% block event %}
    <form method="post" action="{{ url_for('add_rootevent', patient_id=patient.id, appointment_id=session.appointment_id, event_id=event_id) }}">
      {{ render_simple_hidden_field(root_event_form.rootevent_id) }}
      {{ render_simple_hidden_field(root_event_form.event_id) }}
      {{ render_simple_field(root_event_form.canal) }}
      {{ render_simple_field(root_event_form.infected) }}
      {{ render_simple_field(root_event_form.abscess) }}
      {{ render_simple_field(root_event_form.obturation) }}
      {{ render_simple_field(root_event_form.inlaycore) }}
      {{ render_simple_field(root_event_form.screwpost) }}
      <input type="submit" value="Add" />
    </form>
  {% endblock %}
  </div>
{% endblock %}
