{% extends 'summary_patient.html' %}
{% block main %}
{% from "_formhelpers.html" import render_field %}
{% from "_formhelpers.html" import render_simple_field %}
{% from "_contactformhelper.html" import add_address_form_fields %}
{% from "_contactformhelper.html" import add_phone_form_fields %}
{% from "_contactformhelper.html" import add_mail_form_fields %}

<form method="post" action="{{ url_for('add_patient', 
                                        meeting_id=meeting_id) }}">
  <dl>
    {{ render_simple_field(gen_info_form.title, autofocus="autofocus") }}
    {{ render_simple_field(gen_info_form.firstname) }}
    {{ render_simple_field(gen_info_form.lastname) }}
    {{ render_simple_field(gen_info_form.family_id) }}
    {{ render_simple_field(gen_info_form.identity_number_1) }}
    {{ render_simple_field(gen_info_form.identity_number_2) }}
    {{ render_simple_field(gen_info_form.sex) }}
    {{ render_simple_field(gen_info_form.dob) }}
    {{ render_simple_field(gen_info_form.job) }}
    {{ render_simple_field(gen_info_form.qualifications) }}
    {{ render_simple_field(gen_info_form.preferred_name) }}
    {{ render_simple_field(gen_info_form.correspondence_name) }}
    {{ render_simple_field(gen_info_form.inactive, default=False) }}
    {{ render_simple_field(gen_info_form.payer) }}
    {{ render_simple_field(hcp_patient_form.healthcare_plans_id) }}
    {{ render_simple_field(gen_info_form.office_id) }}
    {{ render_simple_field(gen_info_form.dentist_id) }}
    {{ add_address_form_fields(address_form) }}
    {{ add_phone_form_fields(phone_form) }}
    {{ add_mail_form_fields(mail_form) }}
  </dl>
  <p><input type="submit" value="Add new patient">
</form>
{% endblock %}

<!---->
