{% extends 'header.html' %}
{% block pagetitle %}
Add a Simple Sterilization Cycle
{% endblock %}
{% block main %}
{% from "_formhelpers.html" import render_table_field, render_table_hidden_field, render_field, render_hidden_field, render_field_js_onchange %}
<form method="post" action={{ url_for('add_simplified_traceability') }}>

    {{ render_field(ste_cycle_form.user_id) }}
    {{ render_field(ste_cycle_form.sterilizer_id) }}
    {{ render_field(ste_cycle_form.cycle_type_id) }}
    {{ render_field(ste_cycle_form.cycle_mode_id) }}
    {{ render_field(ste_cycle_form.cycle_complement_id) }}
    {{ render_field(ste_cycle_form.cycle_date) }}
    {{ render_field(ste_cycle_form.reference) }}
    {{ render_field(ste_cycle_form.document) }}
    {{ render_field(simple_traceability_form.number_of_items) }}
    {{ render_field(simple_traceability_form.validity) }}


  <p><input type="submit" value="Add">
</form>

{% endblock %}
