
<!--<script type="text/javascript"src="http://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>-->
<script type="text/javascript"src="/static/js/jquery.min.js"></script>
<script type="text/javascript">
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

{% extends 'header.html' %}
{% block pagetitle %}
Add a new asset.
{% endblock %}

{% block main %}
{% from "_formhelpers.html" import render_table_field, render_table_hidden_field, render_field, render_hidden_field, render_field_js_onchange, render_simple_field%}



<form method="post" action={{ url_for('add_asset') }}>
  <br />
    {{ render_simple_field(asset_category_form.barcode, autofocus="autofocus") }}
    <a href=# id="verify_barcode">Verify Barcode</a>

  <div id="asset_type">
    {{ render_field_js_onchange(asset_category_form.type) }} 
  </div>

  <div id="asset_category">
      Asset Specialty
      {{ render_simple_field(asset_category_form.asset_specialty_id) }}
      <a href={{ url_for('add_specialty') }}>Add a Specialty</a>
    Select Provider : {{ render_simple_field(asset_form.provider_id) }} or <a href={{ url_for('add_provider') }}>Add a new provider</a>
  {{ render_simple_field(asset_category_form.manufacture_sterilization) }}
  </a>

    <dl>
      <th>brand</th>
      {{ render_table_field(asset_category_form.brand) }}
      <th>Commercial Name</th>
      {{ render_table_field(asset_category_form.commercial_name) }}
      <th>Description</th>
      {{ render_table_field(asset_category_form.description) }}
  </div>
  <div id="device_category">
    <dl>
      <th>Sterilizable</th>
      {{ render_table_field(device_category_form.sterilizable) }}
      <th>Sterilizer</th>
      {{ render_table_field(device_category_form.sterilizer) }}
    </dl>
  </div>
  <div id="material_category">
    <dl>
      <th>Initial Quantity</th>
      {{ render_table_field(material_category_form.initial_quantity) }}
      {{ render_table_field(material_category_form.unity) }}
      <th>Automatic Decrease</th>
      {{ render_table_field(material_category_form.automatic_decrease) }}
      <th>Order Threshold</th>
      {{ render_table_field(material_category_form.order_threshold) }}
    </dl>
  </div>
  <div id="asset">
    {{ render_simple_field(asset_form.acquisition_date) }}
    {{ render_simple_field(asset_form.acquisition_price) }}
    {{ render_simple_field(asset_form.description) }}
    {{ render_simple_field(asset_form.new) }}
    {{ render_simple_field(asset_form.user_id) }}
    {{ render_simple_field(asset_form.office_id) }}
    {{ render_simple_field(asset_form.quantity) }}
    {{ render_field_js_onchange(asset_form.service) }}
    {{ render_hidden_field(asset_form.end_use_reason) }}
    <div id="service_start">
      {{ render_simple_field(asset_form.start_of_use) }}
    </div>
  </div>

  <div id="device">
    {{ render_simple_field(device_form.lifetime_expected) }}
    {{ render_simple_field(device_form.serial_number) }}
  </div>
  <div id="material">
    {{ render_simple_field(material_form.batch_number) }}
    {{ render_simple_field(material_form.expiration_date) }}
    {{ render_simple_field(material_form.expiration_alert) }}
  </div>

  <div id="add_the_asset">
    <p><input type="submit" value="Add">
  </div>
</form>

<script type="text/javascript" src="/static/js/find_db.js"></script>
<script type="text/javascript" src="/static/js/select_field.js"></script>
{% if clear_form %}
    <script type="text/javascript" src="/static/js/reset_asset_on_load.js"></script>
{% endif %}
{% endblock %}

<!---->
