{% extends 'header.html' %}
{% block pagetitle %}
Add a Sterilization Cycle
{% endblock %}
{% block main %}
{% from "_formhelpers.html" import render_table_field, render_table_hidden_field, render_field, render_hidden_field, render_field_js_onchange %}
<form method="post" action={{ url_for('add_sterilization_cycle') }}>
  <table>
    <caption>Add a Sterilization Cycle</caption>
    <tr>
      <td>{{ render_field(ste_cycle_form.user_id) }}</td>
      <td>{{ render_field(ste_cycle_form.sterilizer_id) }}</td>
    </tr>
    <tr>
      <td>{{ render_field(ste_cycle_form.cycle_type_id) }}</td>
      <td>{{ render_field(ste_cycle_form.cycle_complement_id) }}</td>
      <td>{{ render_field(ste_cycle_form.cycle_mode_id) }}</td>
    </tr>
    <tr>
      <td>{{ render_field(ste_cycle_form.cycle_date) }}</td>
      <td>{{ render_field(ste_cycle_form.reference) }}</td>
      <td>{{ render_field(ste_cycle_form.document) }}</td>
    </tr>
  </table>
<br />
  <table>
    <caption>Resume of Assets to be sterilized</caption>
    <tr>
      <th>Kits in this sterilization : </th>
      <th>SuperAssets in this sterilization:</th>
      <th>Assets in this sterilization : </th>
      <th>Unmarked assets :</th>
    </tr>
    <tr>
      <td>{{ kits_to_sterilize|length }}</td>
      <td>{{ superassets_to_sterilize|length }}</td>
      <td>{{ assets_to_sterilize|length }}</td>
      <td> {{ session['uncategorized_assets_sterilization'][0] }}</td>
    </tr>
    <tr>
      <td>
        {% for kit in kits_to_sterilize %}
         <a href="{{ url_for('view_kit', kit_id=kit.id) }}">
          {{ kit.id }} - {{ kit.asset_kit_structure.name }}</a><br />
        {% endfor %}
      </td>
      <td>
        {% for superasset in superassets_to_sterilize %}
          <a href="{{ url_for('view_asset', asset_id=superasset.id) }}">
          {{ superasset.id }} -- {{ superasset.superasset_category.name }}
          </a><br />
        {% endfor %}
      <td>
        {% for asset in assets_to_sterilize %}
          <a href="{{ url_for('view_asset', asset_id=asset.id) }}">
          {{ asset.id}} - {{ asset.asset_category.brand }} 
                          {{asset.asset_category.commercial_name }}</a><br />
        {% endfor %}
      </td>
      <td></td>
    </tr>
  </table>
<br />
<br />
<a href="{{ url_for('create_sterilization_list') }}">
                                            Update Assets List to sterilize</a>
<br />
<br />
Total number of assets in this sterilization cycle : 
                                    {{ session['assets_to_sterilize']|length + 
                                    session['uncategorized_assets_sterilization'][0] }}
  <p><input type="submit" value="Add sterilization cycle">
</form>

{% endblock %}
