{% from "_formhelpers.html" import render_sfl_wol, render_simple_field,
                                    render_simple_hidden_field_line %}
{% extends "header.html" %}

{% block main %}

<div id="agenda_left">

    <center>
      <a href="{{ url_for('display_day', 
                                    dateday=datetime.date.today(),
                                    dentist_id=dentist.id,
                                    dental_unit_id=dental_unit.id) }}">
              Today 
      </a><br /><br />
      <a href="{{ url_for('display_day', dateday=prevday, 
                                              dentist_id=dentist.id, 
                                              dental_unit_id=dental_unit.id) }}">
              ← {{ calendar.day_name[prevday.weekday()] }} {{ prevday.day }}
      </a><br /><br />

                <strong>
                  {{ calendar.day_name[dateday.weekday()] }}
                </strong>
               {{ render_sfl_wol(summary_agenda_form.day) }}
              <br /><br />

      <a href="{{ url_for('display_day', dateday=nextday, 
                                              dentist_id=dentist.id, 
                                              dental_unit_id=dental_unit.id) }}">
              {{ calendar.day_name[nextday.weekday()] }} {{ nextday.day }} →
      </a><br /><br />

      {{ dentist.firstname }} {{ dentist.lastname }}<br />
      {{ dental_unit.name}}<br /><br />

  <table>
    <caption>
      Add appointment for new patient
    </caption>
    <tr>
      <td>
      <form method='post' action="{{ url_for('schedule_new_patient') }}">
        {{ render_simple_hidden_field_line(sched_new_pat_form.day) }}
        {{ render_simple_hidden_field_line(sched_new_pat_form.dentist_id) }}
        {{ render_simple_hidden_field_line(sched_new_pat_form.dental_unit_id) }}
        {{ render_simple_hidden_field_line(sched_new_pat_form.date_taker_id) }}
        {{ render_simple_field(sched_new_pat_form.starttime) }}
        {{ render_simple_field(sched_new_pat_form.duration) }}
        {{ render_simple_field(sched_new_pat_form.comment) }}
        <input type='submit' value='add'>
      </form>
      </td>
    </tr>
  </table>

    </center>
</div>

  {% for period, period_datas in agenda_day.items() %}
    <div id={{ constants.PERIODS[period] }}>
      {% if period_datas[1] %}
        {% for meeting in period_datas[1] %}
          {{ loop.index }}
          {{ meeting.starttime.time() }}
          {{ meeting.endtime - meeting.starttime }}
          {% if meeting.appointment %}
            {{ meeting.appointment.patient.lastname }} 
                {{ meeting.appointment.patient.firstname }}
            {{ meeting.appointment.reason }}
          {% else %}
            <a href="{{ url_for('add_patient') }}">{{ meeting.comment }}</a>
          {% endif %}
        <br />
        {% endfor %}
      {% endif %}
    </div>
  {% endfor %}

{% endblock %}

