{% extends 'summary_patient.html' %}

{% block main %}
<h2>Choose clinic gestures for {{ anatomic_locations }}</h2>

<form method='post' action='{{ url_for('choose_cg_from_cot_inserted_in_cr',
                                            appointment_id=appointment.id,
                                            cotation_id=cotation_id,
                                            anat_loc=anatomic_locations) }}'>
{{ form.price }} {{ constants['CURRENCY_SYMBOL'] }}<br /><br />
{{ form.clinic_gestures }}
{{ form.submit }}
</form>
{% endblock %}
