{% extends "summary_patient.html" %}
{% block main %}
<br />

<a href="{{ url_for('add_event_tooth_located', patient_id=session['patient_id'],
                                appointment_id=session['appointment_id']) }}">
    Add tooth event</a><br />
<br />
<a href="{{ url_for('add_periodonte_event') }}">Add periodonte event</a>
<br />
<br />
<a href="{{ url_for('add_softtissues_event') }}">Add bucal mucosa event</a>
<br />
<a href="{{ url_for('add_headneck_event') }}">Add headneck event</a>

{% endblock %}
