{% extends "layout.html" %}
{% block pagetitle %}
  {% if patient %}

    {% if appointment %}
{#      <span class="left">
        <a href="{{ url_for( 'patient_appointment', appointment_id=appointment.id - 1) }}">
          Previous RV
        </a>
      </span>
#}
    {% endif %}

    <a href="{{url_for('enter_patient_file', body_id=patient.id)}}">
            {{ patient.firstname }} {{ patient.lastname }}</a>, 
            {{ patient.age() }} years old, 
    
    {% if appointment %}
      <a href="{{ url_for('display_day', 
                          dateday=appointment.agenda.starttime.date(), 
                          dentist_id=appointment.dentist_id,
                          dental_unit_id=appointment.dental_unit_id
                          
                          ) }}">from {{ appointment.agenda.starttime.time() }}
                          to {{ appointment.agenda.endtime.time() }}
                          the {{ appointment.agenda.starttime.date() }}
      </a>
{#      <span class="right">
        <a href="{{ url_for( 'patient_appointment', appointment_id=appointment.id +1 ) }}">
          Next RV
        </a>
#}
      </span>

    {% else %}
      Out of appointment
    {% endif %}

  {% else %}
    Not in patient file
  {% endif %}

{% endblock %}
