{% extends "layout.html" %}
{% block patient_appointment %}
  <h3>
  {% if patient %}
    <a href="{{url_for('enter_patient_file', body_id=patient.id)}}">
            {{ patient.firstname }} {{ patient.lastname }}</a>
      <small>, {{ patient.age() }} years old,

    {% if appointment %}
    <a href="{{ url_for('patient_appointment', appointment_id=appointment.id )}}">
    from {{ appointment.agenda.starttime.time() }}
                          to {{ appointment.agenda.endtime.time() }}</a>
        the
      <a href="{{ url_for('display_day', 
                          dateday=appointment.agenda.starttime.date(), 
                          dentist_id=appointment.dentist_id,
                          dental_unit_id=appointment.dental_unit_id) }}"> 
            {{ appointment.agenda.starttime.date() }}</a>
    {% else %}
      Out of appointment
    {% endif %}
    </small>
    
  {% else %}
    <small>Not in patient file</small>
  {% endif %}
  </h3>
{% endblock %}

{% block page_title %}
  <h4>{{ page_data['title'] }}</h4>
{% endblock %}

{% block page_menu %}
  {% for menu_item in page_data['menu'] %}
    <li>
      <a href="{{ menu_item[0] }}">
        {{ menu_item[1] }}
      </a>
{#      <a href="{{ url_for(menu_item[1]
        {% if menu_item[2] %}
          {% for argument in menu_item[2] %}
            , argument
          {% endfor %}
        {% endif %}
        ) }}">
        menu_item[0]
      </a>
#}
    </li>
  {% endfor %}
{% endblock %}

