{% extends "layout.html" %}
{% block pagetitle %}
  {% if session.patient_id and patient %}

    {% if appointment %}
      <span class="left">
        <form method="post" action="{{ url_for( 'enter_patient_appointment') }}">
          <input type="hidden" name="appointment_id" value="{{ appointment.id -1 }}" />
          <input type="submit" value="Previous RV" />
        </form>
      </span>
    {% endif %}

    <a href="{{url_for('enter_patient_file', body_id=patient.id)}}">{{ patient['lastname'] }} {{ patient['firstname'] }}</a>, {{ patient.age() }} years old, 
    
    {% if appointment %}
      <a href="{{ url_for('display_day', dateday=appointment.agenda.starttime.date(), dentist_id=session['user_id']) }}">from {{ appointment.agenda.starttime.time() }} to {{ appointment.agenda.endtime.time() }} the {{ appointment.agenda.starttime.date() }}</a>
      <span class="right">
        <form method="post" action="{{ url_for( 'enter_patient_appointment') }}">
          <input type="hidden" name="appointment_id" value="{{ appointment.id + 1 }}" />
          <input type="submit" value="Next RV" />
        </form>
      </span>

    {% else %}
      Out of appointment
    {% endif %}

  {% else %}
    Not in patient file
  {% endif %}

{% endblock %}
