<!DOCTYPE html>
<html>
  <head>
    {% block head %}
      {% block base %}
      	<base href="/static/">
      {% endblock %}
      {% block meta %}
      	<meta name="description" content="Odontux odonweb">
      	<meta name="keywords" content="odontux odonweb">
      	<meta name="author" content="Franck LABADILLE">
      	<meta charset="UTF-8">
      {% endblock %}
      {% block link %} 
      	<link rel="stylesheet" type="text/css" href="style.css">
      	<link rel="stylesheet" type="text/css" href="header.css">
      	<link rel="stylesheet" type="text/css" href="main.css">
      	<link rel="stylesheet" type="text/css" href="footer.css">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
      {% endblock %}
      	<title>{% block title %}Odontux{% endblock %}</title>
    {% endblock %}
  </head>


  <body>
    <header>
    {% block header %}
      <div id="generalinfo">
      {% block generalinfo %}
        <div id="user">
	{% block user %}
	  {{ session['username'] }}
	  <div class="user_hidden">
	    <a href="/logout">Logout</a>
	  </div>
	{% endblock %}
	</div>
      {% endblock %}
      </div>
      <div id="logo">
      {% block logo %}
      	<a href="https://github.com/fluxspir/odontux" target="_blank"><h1>O<sub>d</sub>o<sup>n</sup>t<sub>u</sub>X</h1></a> 
      {% endblock %}
      </div>
      <div id="mainsummary">
      {% block mainsummary %}
      {% endblock %}
      </div>
      <nav>
      {% block nav %}
        <a href="/patient">Patients</a>
	<a href="/act">Acts</a>
	<a href="/specialty">Specialties</a>
	<a href="/medecine_doctor">MD</a>
        <div id="search">
        {% block search %}
          <form action="/search/" method="post" autocomplete="on">
	    <input type="search" name="keywords" placeholder="Quick Search" />
	    <select name="database" id="dbtable">
	      <option value="patient">Patient</option>
	      <option value="act">Act</option>
	      <option value="odontuxuser">User</option>
	      <option value="doctor">Doctor</option>
 	    </select>
	    <input type="submit" value="Find" />
	  </form>
        {% endblock %}
        </div>
      {% endblock %}
      </nav>
    {% endblock %}
    </header>
    
    <section class="main">
    {% block main %}
    {% endblock %}
    </section>


    <footer>
      {% block footer %}
      &copy; Copyright 2012 by <a class="footer" href="mailto:franck@kernlog.net">Flux</a>.
      {% endblock %}
    </footer>
  </body>
</html>
