{% extends 'layout.html' %}
{% block pagetitle %}
List of odontux users
{% endblock %}
{% block main %}
<div id="list_acttype">
{% if session.role == role_admin %}
  <a href="/add/user/">Add new user</a>
{% endif %}
<table border=1>
  <tr>
    <th>ID</th>
    <th>UserName</th>
    <th>Role</th>
    <th>LastName</th>
    <th>FirstName</th>
    <th>Modify</th>
{% for user in odontuxusers %}
  <tr>
    <td>{{ user.id }}</td><td>{{user.username}}</td>
    <td>{% for r in roles %}
    	    {% if r[0] == user.role|int %}
	          {{ r[1] }}
	        {% endif %}
	      {% endfor %}
    </td>
    <td>{{ user.lastname }}</td>
    <td>{{ user.firstname }}</td>
    <td>
      {% if session.role == role_admin or session.username == user.username %}
        <a href="{{ url_for('update_user', body_id=user.id ,form_to_display='gen_info') }}">Update</a>
      {% endif %}
    </td>
  </tr>
</div>
{% endfor %}
{% endblock %}
