{% extends "header.html" %}
{% block main %}
{% if session.role != session.ROLE_ADMIN %}
  <a href="{{ url_for('add_superasset_category') }}">Add new superasset category</a>
{% endif %}
<br /><br />
  <div id="searchresult">
  {% block searchresult %}
    {% for superasset_category in superasset_categories %}
     {{ superasset_category.id }} -- {{ superasset_category.name }} ; 
      <a href="{{ url_for('update_assets_in_superasset_category', 
                              superasset_category_id=superasset_category.id) }}">
        Update</a><br />
    {% endfor %}
  {% endblock %}
  </div>

{% endblock %}
