{% extends 'header.html' %}
{% block main %}
<div id="list_md">
{% if session.role == session.ROLE_DENTIST or session.role == session.ROLE_NURSE or session.role == session.ROLE_ASSISTANT %}
  <a href="{{ url_for('add_md') }}">Add new medecine doctor</a><br />
{% endif %}
<table border=1>
  <tr>
    <th>ID</th>
    <th>LastName</th>
    <th>FirstName</th>
    <th>City</th>
    <th>zip_code</th>
    <th>phone</th>
    <th>Modify</th>
{% for doc in doctors %}
  <tr>
    <td>{{ doc.id }}</td>
    <td>{{ doc.lastname }}</td>
    <td>{{ doc.firstname }}</td>
    <td>{{ doc.address.city }}</td>
    <td>{{ doc.address.zip_code }}</td>
    <td>{{ doc.phones[-1] }}</td>
    <td>
      <a href={{ url_for('update_md', body_id=doc.id, form_to_display='gen_info') }}>Update</a></td>
    <td>
      <a href={{ url_for('delete_md', body_id=doc.id) }}>Delete</a></td>
  </tr>
</div>
{% endfor %}{% endblock %}
