{% extends 'layout.html' %}
{% block pagetitle %}
List of acts
{% endblock %}
{% block main %}
{% block list_acttype %}
<div id="list_acttype">
  <a href="/add/act">Add new act</a>
  <table border=1>
    <tr>
      <th>ID</th>
      {% if specialty %}
        <th>Specialty<th>
      {% endif %}
      <th>Code</th>
      <th>Alias</th>
      <th>Name</th>
      <th>Color</th>
      {% if session.role == role_admin or session.role == role_dentist %}
        <th>Modify</th>
      {% endif %}
    </tr>
  {% for gesture in gestures %}
    <tr>
      <td>{{ gesture.id }}</td>
      {% if specialty %}
        <td style="background-color:{{specialty.color}};">{{ specialty.name }}</td>
      {% endif %}
      <td>{{ gesture.code }}</td><td>{{ gesture.alias }}</td><td>{{ gesture.name }}</td><td style="background-color:{{ gesture.color }};"></td>
      {% if session.role == role_admin or session.role == role_dentist %}
        <td><a href="/act/update_acttype={{ gesture.id }}/">Update</a>
      {% endif %}
    </tr>
  {% endfor %}
  </table>
</div>
{% endblock %}
{% endblock %}
