{% extends "header.html" %}
{% block main %}
{% if session.role != session.ROLE_ADMIN %}
  <a href="{{ url_for('add_kit_type') }}">Add new kit type</a><br />
{% endif %}
  <div id="searchresult">
  {% block searchresult %}
    {% for kit_type in kit_types %}
      <a href="{{ url_for('add_kit', kit_type_id=kit_type.id) }}"> {{ kit_type.name }}
                  : Add new.</a>
      Or you may 
      <a href={{ url_for('update_kit_type', kit_type_id=kit_type.id) }}>
          Update this kit type.
      </a><br />
    {% endfor %}
  {% endblock %}
  </div>

{% endblock %}
