{% from "_appointmenthelpers.html" import appointment_table_opening_tag, appointment_table_header, appointment_table_rows, appointment_table_closing_tag %}

{% extends "summary_patient.html" %}

{% block main %}
  <a href="{{ url_for('add_patient_appointment', body_id=patient.id) }}">Add appointment</a>
  {% block appointments %}
    {% block appointment_title %}
      {{ appointment_table_opening_tag("appointments") }}
    {% endblock %}
    {{ appointment_table_header(session) }}
      {% block appointment_row %}
        {% for appointment in appointments %}
          {{ appointment_table_rows(session, appointment, 
              url_for('patient_appointment', appointment_id=appointment.id), 
              "Select") }}
        {% endfor %}
      {% endblock %}
    {{ appointment_table_closing_tag() }}
  {% endblock %}

  {% block appointment_acts %}
  {% endblock %}
{% endblock %}
