{% from "_acthelpers.html" import act_table_opening_tag, act_table_header, act_table_rows, act_table_closing_tag %}

{% extends "summary_patient.html" %}

{% block main %}
  {% block list_acts %}

    {{ act_table_opening_tag("list of acts made to patient") }}
    {{ act_table_header(session) }}
    {% for gesture, appointment, act_info, specialty in acts %}
      {{ act_table_rows(session, gesture, appointment, act_info, specialty) }}
    {% endfor %}
    {{ act_table_closing_tag() }}
  <br />
  total price = {{ patient.global_price() }}<br />
  total paid = {{ patient.already_paid() }}<br />
  due = {{ patient.due() }}
  {% endblock %}
{% endblock %}
