{% extends 'header.html' %}

{% block main %}
  {% for specialty in gestures_dict %}

    {% if not loop.index0 % 3 %} {# open row grid #}
      <div class="row">
    {% endif %}

      <div class="col-sm-4">
        <h5 style='background-color:{{ gestures_dict[specialty][0].specialty.color }}'> 
          {{ specialty }}
        </h5>

        {% for gesture in gestures_dict[specialty] %}
          <div class='row'>
            <div class='col-sm-1'>
              <button class="btn" style='background-color:{{ gesture.color }}'>
            </div>
            <div class='col-sm-11'>
            <a href="{{ url_for('update_gesture', 
                                gesture_id=gesture.id) }}">
                {{ gesture.name }}</a>
            </div>
          </div>
        {% endfor %}
      </div>

    {% if not (loop.index0 + 1) % 3 %}
      </div>
    {% endif %}
  {% endfor %}
{% endblock %}
