{% extends "header.html" %}

{% block main %}
  <a href="{{ url_for('add_cotation') }}">Add new cotation</a>
  <table border=1>
    <caption>Cotation table</caption>
    <tr>
      <th class="hidden">Id</th>
      <th>Acte</th>
      <th><a href="{{ url_for('list_plan_name') }}">Plan Name</a></th>
      <th>Code</th>
      <th>Price</th>
    </tr>
    {% for cotation in cotations %}
      <tr>
        <td class="hidden">{{ cotation.id }}</td>
        <td>
            <span style="background-color:{{cotation.acte_type.color}};">
                                  {{ cotation.acte_type.name }}</span><br />
        </td>
        <td>{{ cotation.plan_name.name }}</td>
        <td>{{ cotation.code }}</td>
        <td>{{ cotation.price }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
