{% extends "header.html" %}
{% block main %}
{% if session.role != session.ROLE_ADMIN %}
  <!-- <a href="{{ url_for('add_asset') }}">Add new asset</a> -->
{% endif %}
<br />
<a href={{ url_for('add_sterilization_complement') }}>Add new sterilization complement</a>
  <div id="searchresult">
  {% block searchresult %}
    {% for ste_complement in ste_complements %}
      {{ ste_complement.id }} -- {{ ste_complement.complement }} <a href={{ url_for('update_sterilization_complement', ste_complement_id=ste_complement.id) }}>Update</a><br />
    {% endfor %}
  {% endblock %}
  </div>

{% endblock %}
