{% extends "header.html" %}

{% block main %}
  <a href="{{ url_for('add_cotation') }}">Add new cotation</a>
  <table border=1>
    <caption>Cotation table</caption>
    <tr>
      <th class="hidden">Id</th>
      <th>Acte</th>
      <th><a href="{{ url_for('list_healthcare_plans') }}">Healthcare Plan Name</a></th>
      <th>Price</th>
      <th>Active</th>
    </tr>
    {% for cotation in cotations %}
      <tr>
        <td class="hidden">{{ cotation.id }}</td>
        <td>
            <span style="background-color:{{cotation.gesture.color}};">
                                  {{ cotation.gesture.name }}</span><br />
        </td>
        <td>{{ cotation.healthcare_plan.name }}</td>
        <td>{{ cotation.price }}</td>
        <td>{{ cotation.active }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
