{% extends 'header.html' %}
{% block main %}
<div id="healthcare_plan" style='float:left;width=50%;'>
  <a href="{{ url_for('add_healthcare_plan') }}">
    Add new healthcare plan
  </a>
  <br />
  <table border=1>
    <tr>
      <th>ID</th>
      <th>Name</th>
      {% if session.role != session.ROLE_ADMIN or session.role != session.ROLE_PATIENT%}
        <th>Modify</th>
      {% endif %}
    </tr>
    {% for healthcare_plan in healthcare_plans %}
      <tr>
        <td>{{ healthcare_plan.id }}</td>
        <td>
          <a href="{{ url_for('view_healthcare_plan', 
                          healthcare_plan_id=healthcare_plan.id) }}">
            {{ healthcare_plan.name }}
          </a></td>
        {% if session.role != session.ROLE_ADMIN or session.role != session.ROLE_PATIENT %}
          <td>
            <a href="{{ url_for('update_healthcare_plan', 
              healthcare_plan_id=healthcare_plan.id) }}">Update
            </a></td>
        {% endif %}
      </tr>
    {% endfor %}
  </table>
</div>

<div id="majoration">
  <a href="{{ url_for('add_majoration') }}">
    Add a majoration type
  </a>
  <br />
  <table border=1>
    <tr>
      <th>id</th>
      <th>Reason</th>
      <th>Percentage</th>
      {% if session['role'] == session.ROLE_DENTIST %}<th></th>{% endif %}
    </tr>
    {% for majoration in majorations %}
      <tr>
        <td>{{ majoration.id }}</td>
        <td>{{ majoration.reason }}</td>
        <td>{{ majoration.percentage }}</td>
        {% if session['role'] == session.ROLE_DENTIST %}
          <td>
            <a href="{{ url_for('update_majoration', majoration_id=majoration.id) }}">Update</a>
          </td>
        {% endif %}
      </tr>
    {% endfor %}
  </table>

{% endblock %}
