{% extends "header.html" %}
{% block main %}
{% if session.role != session.ROLE_ADMIN %}
  <!-- <a href="{{ url_for('add_asset') }}">Add new asset</a> -->
{% endif %}
<br />
<a href={{ url_for('add_sterilization_cycle_type') }}>Add new sterilization cycle type name</a>
  <div id="searchresult">
  {% block searchresult %}
    {% for ste_cycle_type in ste_cycle_types %}
      {{ ste_cycle_type.id }} -- {{ ste_cycle_type.name }} <a href={{ url_for('update_sterilization_cycle_type', ste_cycle_type_id=ste_cycle_type.id) }}>Update</a><br />
    {% endfor %}
  {% endblock %}
  </div>

{% endblock %}
