{% extends "header.html" %}
{% block main %}
{% if session.role != session.ROLE_ADMIN %}
  <a href="{{ url_for('add_asset') }}">Add new asset</a>
{% endif %}
<br />
  <div id="searchresult">
  {% block searchresult %}
    {% for asset in assets_list %}
      {% if asset.type == "superasset" %}
        <a href="{{ url_for('view_asset', asset_id=asset.id) }}">
                            {{ asset.id }} -- 
                            {{ asset.superasset_category.name }}</a><br />
      {% else %}
        <a href="{{ url_for('view_asset', asset_id=asset.id) }}">
                            {{ asset.asset_category.commercial_name }} -- 
                            {{ asset.asset_category.brand }}  
                            {{ asset.asset_category.description }} 
                            ({{ asset.id }})</a> -- 
                            Expire :  {% if asset.expiration_date %}
                                          {{ asset.expiration_date }}
                                      {% else %} None
                                      {% endif %}-- 
                            {% if asset.end_of_use %} 
                              {% if asset.end_use_reason %} 
                                  {{constants.END_USE_REASONS[asset.end_use_reason][1] }}
                              {% else %}
                                  Asset thrown away
                              {% endif %}
                            {% elif asset.start_of_use %} 
                                  In use since {{ asset.start_of_use }}
                            {% endif %}
                            
                            <br />
      {% endif %}
    {% endfor %}
  {% endblock %}
  </div>

{% endblock %}
