{% extends 'summary_patient.html' %}
{% block summary_patient_css %}
  <link rel="stylesheet" type="text/css" href="/static/images.css">
{% endblock %}
{% block main %}
{% if teeth %}
  <ul>
    {% for tooth_id, name, state, surveillance in teeth %}
      {% if surveillance %}
        <li style="color:red;">
      {% else %}
        <li style="color:blue;">
      {% endif %}
      <a href="{{ url_for('show_tooth', tooth_id=tooth_id) }}">{{ name }}</a> : {{ state }}
      </li>
    {% endfor %}
  </ul>
{% endif %}
<img id="schema_arcade_mandibulaire" src="/static/img/mouth/Arcade_mandibulaire_face.png" alt="Arcade mandibulaire de face" width="350px" />
{% endblock %}
