{% extends 'header.html' %}
{% block main %}
<div id="list_specialty">
<a href="{{ url_for('add_specialty') }}">Add specialty</a><br />
<table border=1>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Color</th>
    {% if session.role == session.ROLE_ADMIN or session.role == session.ROLE_DENTIST %}
      <th>Modify</th>
    {% endif %}
{% for specialty in specialties %}
  <tr>
    <td>{{ specialty.id }}</td><td>{{ specialty.name }}</td><td style="background-color:{{ specialty.color }};"></td>
    {% if session.role == session.ROLE_ADMIN or session.role == session.ROLE_DENTIST %}
      <td><a href="/act/update_specialty/id={{ specialty.id }}">Update</a></td>
    {% endif %}
  </tr>
</div>
{% endfor %}
{% endblock %}
