{% extends "header.html" %}
{% from "_formhelpers.html" import render_simple_field_line %}
{% block main %}
 <br />
  <form method="post" action="{{ url_for('agenda_date') }}">
    {{ render_simple_field_line( summary_agenda_form.day ) }}
    {{ render_simple_field_line( summary_agenda_form.dentist_id) }}
    {{ render_simple_field_line( summary_agenda_form.dental_unit_id) }}
    <input type="submit" value="Go" />
  </form>
  <br />
  <div>
    <table>
      <tr>
        <th>
          <a href="{{ url_for('agenda',
                        year=day_to_emph.year, month=(day_to_emph.month - 1 ), day=day_to_emph.day) }}")>
            <- 
          </a></th>
        <th>{{ calendar.month_name[day_to_emph.month].decode('utf-8') }} {{ day_to_emph.year }}</th>
        <th>
            <a href="{{ url_for('agenda',
                        year=day_to_emph.year, month=(day_to_emph.month +1 ), day=day_to_emph.day) }}">
            ->
          </a></th>

      </tr>
      <tr>
        <th>{{ calendar.day_name[0] }}</th>
        <th>{{ calendar.day_name[1] }}</th>
        <th>{{ calendar.day_name[2] }}</th>
        <th>{{ calendar.day_name[3] }}</th>
        <th>{{ calendar.day_name[4] }}</th>
        <th>{{ calendar.day_name[5] }}</th>
        <th>{{ calendar.day_name[6] }}</th>
      </tr>
      {% for week in cal %}
        <tr>
          {% for day in week %}
            <td>
            {% if day %}
              
              <a href="{{ url_for('display_day', 
                                  dateday=datetime.date(day_to_emph.year, day_to_emph.month, day).isoformat(),
                                  dentist_id=summary_agenda_form.dentist_id.data,
                                  dental_unit_id=1,
                                ) }}"</a>
                    {{ day }}
              </a>
            {% endif %}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
  </div>

{% endblock %}
