{% extends 'summary_patient.html' %}
{% block main %}
<div id="list_payments">
<h3>Payments' resume</h3>
  <table>
    <tr>
      <th>Total Price</th>
      <th>Total Paid</th>
      <th>Balance</th>
    </tr>
    <tr>
      <td>{{ patient.global_price() }} {{ currency_symbol }}</td>
      <td style="color:blue;">{{ patient.already_paid() }} {{ currency_symbol }}</td>
      {% if patient.balance() < 0 %}
        <td style="color:red;">
      {% elif patient.balance() == 0 %}
        <td>
      {% else %}
        <td style="color:green;">
      {% endif %}
      {{ patient.balance() }} {{ currency_symbol }}</td>
    </tr>
  </table>
<br />
<a href="{{ url_for('make_payment',
                        patient_id=patient.id,
                        appointment_id=appointment.id) }}">
  Make a payment</a><br />
</div>
<br />
Receipts:<br />
{% for payment in payments %}
  <a href="{{ url_for('display_file', file_id=payment.receipt_id) }}">
  {{ payment.mean.name }} {{ payment.amount }} {{ payment.cashin_date }}
  </a><br />
{% endfor %}
<br />
Bills:<br />
{% for bill in bills %}
  <a href="{{ url_for('view_bill', bill_file_id=bill.file_id) }}">
    {{ bill.appointment.agenda.starttime }}
  </a><br />
{% endfor %}
{% endblock %}
