{% extends "summary_patient.html" %}
  <link rel="stylesheet" type="text/css" href="/static/anamnesis.css">
{% block main %}

  <p id="patient_doctor">
    {% block medecine_doctor %}
      {% if doctor %}
        <a href="{{ url_for('update_md', body_id=doctor.id, form_to_display="gen_info") }}">Dr {{ doctor.lastname }} {{ doctor.firstname }}</a>
      {% else %}
        Patient without doctor
      {% endif %}
    {% endblock %}
  </p>
  <a href="{{ url_for('add_anamnesis_entry', patient_id=patient.id,
                      appointment_id=session.appointment_id) }}">
        Add an anamnesis entry
        </a><br/><br />
  <div id="anamnesis">
  {% for entry in patient_anamnesis %}
    {% if entry.anamnesis_type == 'medical_history' %}

    {% elif entry.anamnesis_type == 'addictions' %}
    {% elif entry.anamnesis_type == 'treatment' %}
    {% elif entry.anamnesis_type == 'past_surgery' %}
    {% elif entry.anamnesis_type == 'allergy' %}

    {% endif %}

  {% endfor %}
  </div>
{% endblock %}
