{% extends "layout.html" %}
{% block css %}
  <link rel="stylesheet" type="text/css" href="/static/patient.css">
{% endblock %}
{% block pagetitle %}
  {% if session.patient %}
    {{ session.patient['lastname'] }} {{ session.patient['firstname'] }}, {{ session.patient.age() }} years old
  {% else %}
    Not in patient file
  {% endif %}
{% endblock %}
{% block mainsummary %}
  {% block patient_navigation %}
    {% if session.patient %}
        <ul id="patient_navigation">
          <li><a href={{ url_for("list_anamnesis") }} onmouseover="mopen('anamnesis_open')" onmouseout="mclosetime()">anamnesis</a>
            <ul class="options_nav">
              <li>
                <div id="anamnesis_open" onmouseover="mcancelclosetime()" onmouseout="mclosetime()">
                  <a href={{ url_for("update_anamnesis") }}>Modify</a>
                </div>
              </li>
            </ul>
          </li>
          <li><a href={{ url_for("list_drugs") }} onmouseover="mopen('medication_open')" onmouseout="mclosetime()">medication</a>
            <ul class="options_nav">
              <li>
                <div id="medication_open" onmouseover="mcancelclosetime()" onmouseout="mclosetime()">
                  <a href={{ url_for("update_drug") }}>Modify</a>
                </div>
              </li>
            </ul>
          </li>
        </ul-->
    {% endif %}
  {% endblock %}
{% endblock %}
