{% extends "header.html" %}
{% block main %}
{% if session.role != session.ROLE_ADMIN %}
  <a href="{{ url_for('index') }}">NE PAS CLIQUER</a>
{% endif %}
<br />
        {{ assets_list|length }} <br />
  <div id="searchresult">
  {% block searchresult %}
    {% for asset in assets_list %}
        <a href="{{ url_for('view_asset', asset_id=asset.id) }}">{{ asset.id }} -- {{ asset.asset_category.brand }} {{ asset.asset_category.commercial_name }} -- {{ asset.asset_category.description }} -- {{ asset.expiration_date }}</a> ||| {{ asset.asset_category.asset_specialty.name }} <br />
        {% endfor %}
  {% endblock %}
  </div>

{% endblock %}


