{% extends 'summary_patient.html' %}

{% block main %}
     {% if tooth.surveillance %}
        <div class="alert">
      {% else %}
        <div>
      {% endif %}
        {#<span class="hidden">Tooth_id = {{ tooth.id }}</span>#}
          <center><h2>{{ constants.ANATOMIC_LOCATION_TEETH[tooth.codename][0] }}</h2>
          <p>Actual State: <strong>{{ constants.TOOTH_STATES[tooth.state][0] }}</strong></p></center>
        </div>

      {% for event in events %}
        {{ event.appointment.agenda.starttime.date() }}: 
        Location: {{ constants.TOOTH_EVENT_LOCATIONS[event.location][1] }} <br /> 
        {% if constants.TOOTH_EVENT_LOCATIONS[event.location][1] == 'tooth' %}
          {{ constants.TOOTH_STATES[event.state][0] }}
        {% elif constants.TOOTH_EVENT_LOCATIONS[event.location][1] == 'crown' %}
          Side(s):
          {% if event.is_occlusal %}{{ constants.CROWN_SIDES[constants.CROWN_SIDE_OCCLUSAL][0] }}{% endif %}
          {% if event.is_buccal %}{{ constants.CROWN_SIDES[constants.CROWN_SIDE_BUCCAL][0] }}{% endif %}
          {% if event.is_mesial %}{{ constants.CROWN_SIDES[constants.CROWN_SIDE_MESIAL][0] }}{% endif %}
          {% if event.is_distal %}{{ constants.CROWN_SIDES[constants.CROWN_SIDE_DISTAL][0] }}{% endif %}
          {% if event.is_lingual %}{{ constants.CROWN_SIDES[constants.CROWN_SIDE_LINGUAL][0] }}{% endif %}
          Status: {{ constants.CROWN_STATES[event.state][0] }}
        {% elif constants.TOOTH_EVENT_LOCATIONS[event.location][1] == 'root' %}
          Canal(s):
          {% if event.is_central %}{{ constants.ROOT_CANALS[constants.ROOT_CANAL_CENTRAL][0] }}{% endif %}
          {% if event.is_buccal %}{{ constants.ROOT_CANALS[constants.ROOT_CANAL_BUCCAL][0] }}{% endif %}
          {% if event.is_mesial %}{{ constants.ROOT_CANALS[constants.ROOT_CANAL_MESIAL][0] }}{% endif %}
          {% if event.is_distal %}{{ constants.ROOT_CANALS[constants.ROOT_CANAL_DISTAL][0] }}{% endif %}
          {% if event.is_lingual %}{{ constants.ROOT_CANALS[constants.ROOT_CANAL_LINGUAL][0] }}{% endif %}
          {% if event.is_mesio_buccal %}{{ constants.ROOT_CANALS[constants.ROOT_CANAL_MESIO_BUCCAL][0] }}{% endif %}
          {% if event.is_mesio_lingual %}{{ constants.ROOT_CANALS[constants.ROOT_CANAL_MESIO_LINGUAL][0] }}{% endif %}
          {% if event.is_disto_buccal %}{{ constants.ROOT_CANALS[constants.ROOT_CANAL_DISTO_BUCCAL][0] }}{% endif %}
          {% if event.is_disto_lingual %}{{ constants.ROOT_CANALS[constants.ROOT_CANAL_DISTO_LINGUAL][0] }}{% endif %}
          {% if event.is_mesio_buccal_2 %}{{ constants.ROOT_CANALS[constants.ROOT_CANAL_MESIO_BUCCAL_2][0] }}{% endif %}
          Status: {{ constants.ROOT_STATES[event.state][0] }}
        {% elif constants.TOOTH_EVENT_LOCATIONS[event.location][1] == 'periodontal' %}
          Gum status: {{ constants.PERIODONTAL_STATES[gum.state][0] }}
          {% if event.bleeding %} bleeding {% endif %}<br />
          Location: 
            {% if event.is_mesio_buccal %}{{ constants.PERIODONTAL_LOCATIONS[constants.PERIODONTAL_LOC_MESIO_BUCCAL][0] }}{% endif %}
            {% if event.is_buccal %}{{ constants.PERIODONTAL_LOCATIONS[constants.PERIODONTAL_LOC_BUCCAL][0] }}{% endif %}
            {% if event.is_disto_buccal %}{{ constants.PERIODONTAL_LOCATIONS[constants.PERIODONTAL_LOC_DISTO_BUCCAL][0] }}{% endif %}
            {% if event.is_disto_lingual %}{{ constants.PERIODONTAL_LOCATIONS[constants.PERIODONTAL_LOC_DISTO_LINGUAL][0] }}{% endif %}
            {% if event.is_lingual %}{{ constants.PERIODONTAL_LOCATIONS[constants.PERIODONTAL_LOC_LINGUAL][0] }}{% endif %}
            {% if event.is_mesio_lingual %}{{ constants.PERIODONTAL_LOCATIONS[constants.PERIODONTAL_LOC_MESIO_LINGUAL][0] }}{% endif %}
            : {% if event.furcation %} Furcation : {{ event.furcation }} {% endif %}
              {% if event.recession %} Recession : {{ event.recession }} {% endif %}
              {% if event.pocket_depth %} Pocket Depth: {{ event.pocket_depth }} {% endif %}
        {% endif %}

        <br />
        --------------
        <br />
      {% endfor %}
{#    <tr>
      <th>Date</th>
      <th>Location</th>
      <th>Event name</th>
      <th>Event precisions</th>
      <th>Situation</th>
      <th>Tooth_shade</th>
      <th>Comments</th>
      <th>Picture</th>
      <th>Color</th>
    </tr>
    {% for event, location, toothevent, event_description, appointment in events_list %}
     <tr>
      <td>{{ appointment.agenda.starttime.date() }}</td>
      
      <td>{{ location }}</td>
      
      <td>
        {% for name, data in event_description %}
          {% if loop.index0 > 0 %}
            <br />
          {% endif %}
          {{ name }}
        {% endfor %}
      </td>
      
      <td>
        {% for name, data in event_description %}
          {% if loop.index0 > 0 %}
            <br />
          {% endif %}
          {{ data }}
        {% endfor %}
      </td>

      <td>
        {% if location == "crown" %}
          {{ toothevent.side }}
        {% elif location == "root" %}
          {{ toothevent.canal }}
        {% else %}
        {% endif %}
      </td>

      <td>
        {% if location == "crown" %}
          {{ toothevent.tooth_shade }}
        {% endif %}
      </td>

      <td>{{ event.comments }}</td>
      <td>{{ event.pic }}</td>
      <td style="background-color:{{ event.color }};"></td>
    </tr>
    {% endfor %}
#}
  </table>
{% endblock %}
