{% extends 'header.html' %}
{% block main %}
{% from "_formhelpers.html" import render_field %}
<form method="post" action="/act/update_acttype={{ acttype.id }}/">
  <dl>
    {{ render_field(acttype_form.specialty_id) }}
    {{ render_field(acttype_form.cotationfr_id) }}
    {{ render_field(acttype_form.code) }}
    {{ render_field(acttype_form.alias) }}
    {{ render_field(acttype_form.name) }}
    {{ render_field(acttype_form.color) }}
  </dl>
  <p><input type="submit" value="Update">
</form>
{% endblock %}
