{% from "_formhelpers.html" import render_field, render_hidden_field %}
{% from "_formhelpers.html" import render_table_field, render_table_hidden_field %}
{% from "_contactformhelper.html" import update_phone_form %}
{% from "_contactformhelper.html" import update_address_form %}
{% from "_contactformhelper.html" import update_mail_form %}

{% extends 'update.html' %}
{% block main %}
<nav id="update_choices">
  <ul>
    <li onclick='display_form("gen_info")'>general_infos</li>
    <li onclick='display_form("address")'>address</li>
    <li onclick='display_form("phone")'>phone</li>
    <li onclick='display_form("mail")'>mail</li>
    <li onclick='display_form("password_container")'>password</li>
  </ul>
</nav>
<div id="update_user">
  <div id="gen_info">
    <form method="post" action={{ url_for('update_user', body_id=user.id, form_to_display="gen_info") }}>
      <dl>
      {% if session.role == session.ROLE_ADMIN %}
        {{ render_field(gen_info_admin_form.username) }}
      {% endif %}
      {{ render_field(gen_info_form.title) }}
      {{ render_field(gen_info_form.lastname, autofocus="autofocus") }}
      {{ render_field(gen_info_form.firstname) }}
      {{ render_field(gen_info_form.sex) }}
      {{ render_field(gen_info_form.dob) }}
      {{ render_field(gen_info_form.qualifications) }}
      {{ render_field(gen_info_form.correspondence_name) }}
      {{ render_field(gen_info_form.avatar_id) }}
      {% if user.role == session.ROLE_DENTIST %}
        {{ render_field(dentist_specific_form.registration) }}
      {% endif %}
      {% if session.role == session.ROLE_ADMIN and user.role == session.ROLE_DENTIST %}
        {{ render_field(dentist_specific_admin_form.gnucash_url) }}
      {% endif %}

      {% if session.role == session.ROLE_ADMIN %}
        {{ render_field(gen_info_admin_form.status) }}
        {{ render_field(gen_info_admin_form.role) }}
        {{ render_field(gen_info_admin_form.comments) }}
        {{ render_field(gen_info_admin_form.modified_by) }}
      {% endif %}
      <input type=submit value="Update" />
     </dl>
    </form>
  </div>

  {{ update_phone_form(phone_form, user, "update_user_phone", "delete_user_phone", "add_user_phone") }}
  {{ update_address_form(address_form, user, user.addresses, "update_user_address", "delete_user_address", "add_user_address") }}
  {{ update_mail_form(mail_form, user, "update_user_mail", "delete_user_mail", "add_user_mail") }}

  <div id="password_container">
    <form method="post" action={{ url_for('update_user_password', body_id=user.id, form_to_display='password_container') }}>
      <dl>
        {{ render_field(password_form.password) }}
        {{ render_field(password_form.confirm) }}
      </dl>
      <input type="submit" value="Change password" />
    </form>
  </div>
</div>
{% if form_to_display %}
  <script> 
    display_form({{ form_to_display }}) ;
  </script>
{% endif %}
{% endblock %}
