{% extends 'layout.html' %}
{% block main %}
{% from "_formhelpers.html" import render_field %}
<form method="post" action="/register">
  <dl>
    {{ render_field(form.specialty_id, placeholder=acttype.specialty_id) }}
    {{ render_field(form.cotationfr_id, placeholder=acttype.cotationfr_id) }}
    {{ render_field(form.code, placeholder=acttype.code) }}
    {{ render_field(form.alias, placeholder=acttype.alias) }}
    {{ render_field(form.name, placeholder=acttype.name) }}
  </dl>
  <p><input type="submit" value="Update">
</form>
{% endblock %}
