{% extends 'header.html' %}
{% from "_formhelpers.html" import render_simple_field_line, render_sfl_wol %}
{% block main %}
<div style='float:left;width:100%;height:100%'>
  Return to gesture <a href="{{ url_for('view_gesture', 
                                gesture_id=cotation.gesture.id) }}">
                  <strong>{{ cotation.gesture.name }}</strong></a>
    or <a href="{{ url_for('update_cotation', cotation_id=cotation.id) }}">cotation </strong></a>
  <h2>Update clinic gesture <strong>{{ clinic_gesture.name }}</strong></h2>
  <div id="clinic_gesture_data" style='float:left;width=75%;'>
      <form method="post" action="{{ url_for('update_clinic_gesture', 
                                          clinic_gesture_id=clinic_gesture.id,
                                                cotation_id=cotation.id) }}">
            {{ render_simple_field_line(cg_form.specialty_id) }}<br />
            {{ render_simple_field_line(cg_form.name) }}
            {{ render_simple_field_line(cg_form.description) }}<br />
            {{ render_simple_field_line(cg_form.duration) }}<br />
            {{ render_simple_field_line(cg_form.modificator) }}
            {{ render_sfl_wol(cg_form.submit) }}
      </form>
      {% if clinic_gesture.event_model_id %}
        <a href="{{ url_for('update_event_model', 
                                  clinic_gesture_id=clinic_gesture.id,
                                  cotation_id=cotation.id) }}">
            Update event model</a>
      {% else %}
        <a href={{ url_for('add_event_model', 
                                  clinic_gesture_id=clinic_gesture.id,
                                  cotation_id=cotation.id) }}>
            Add new event model
        </a>
      {% endif %}
    <br />
    <br />
    Materials used in <strong>{{ clinic_gesture.name }}</strong>:<br />
    {% for material_cg_ref in clinic_gesture.materials %}
      <form method='post' action="{{ url_for('update_mean_quantity_mat_in_gest',
                                                mat_gest_id=material_cg_ref.id,
                                                cotation_id=cotation.id) }}">
      <a href="{{ url_for('remove_material_category_from_clinic_gesture',
                                material_category_clinic_gesture_ref_id=material_cg_ref.id,
                                                              cotation_id=cotation.id) }}">
          <strong>Remove </strong></a>
          <a href="{{ url_for('update_asset_category',
                              asset_category_id=material_cg_ref.material_category_id) }}">
          {{ material_cg_ref.material_category.commercial_name }}
          {{ material_cg_ref.material_category.brand }}</a> 
          {{ render_sfl_wol(quantity_forms[material_cg_ref.material_category_id][0].mean_quantity) }} 
          {{ constants.UNITIES[material_cg_ref.material_category.unity][1] }}
          {{ render_sfl_wol(quantity_forms[material_cg_ref.material_category_id][0].enter_in_various_gestures) }}
          {{ quantity_forms[material_cg_ref.material_category_id][1] }} {{ constants.CURRENCY_SYMBOL }}
          {{ render_sfl_wol(quantity_forms[material_cg_ref.material_category_id][0].submit) }}
          </form>
          <br />
    {% endfor %}
    <br />
    <br />
    <strong>Add materials that could be used :</strong><br />
    {% for material in other_materials %}
    <a href="{{ url_for('add_material_category_to_clinic_gesture', clinic_gesture_id=clinic_gesture.id,
                                                                    material_category_id=material.id,
                                                                    cotation_id=cotation.id) }}">
                <strong>Add </strong></a>
                {{ material.brand }} {{ material.commercial_name }}<br />
    {% endfor %}
    <br />
    <br />

    <a href="{{ url_for('update_gesture', gesture_id=cotation.gesture.id) }}">
      Update gesture <strong>{{ cotation.gesture.name }}</strong> for new materials</a>

    </div>
    <div id="clone_clinic_gesture">
    Use this clinic gesture to update {{ clinic_gesture.name }}:<br />
    {% for cg in all_clinic_gestures %}
      <a href="{{ url_for('update_clinic_gesture', clinic_gesture_id=cg.id,
                                                    cotation_id=cotation.id) }}">
            <strong>{{ cg.name }}</strong></a>
      <a href="{{ url_for('clone_clinic_gesture',
                                model_cg_id = cg.id,
                                cg_to_update_id = clinic_gesture.id,
                                cotation_id = cotation.id) }}">
            Clone</a><br />
    {% endfor %}
  </div>
</div>
{% endblock %}

<!---->
