{% extends 'header.html' %}
{% block css %}
  <link rel="stylesheet" type="text/css" href="/static/update_user.css">
{% endblock %}
{% block javascript_specific %}
  <script type="text/javascript" src="/static/js/update_user.js"></script>
{% endblock %}
{% block pagetitle %}
  Update user : {{ session.username }}
{% endblock %}
{% block main %}
{% from "_formhelpers.html" import render_field %}
{% from "_formhelpers.html" import render_table_field %}
{% from "_formhelpers.html" import render_table_hidden_field %}
{% from "_contactformhelper.html" import update_phone_form %}
{% from "_contactformhelper.html" import update_address_form %}
{% from "_contactformhelper.html" import update_mail_form %}

<nav id="update_choices">
  <ul>
    <li onclick='display_form("gen_info")'>general_infos</li>
    <li onclick='display_form("address")'>address</li>
    <li onclick='display_form("phone")'>phone</li>
    <li onclick='display_form("mail")'>mail</li>
    <li onclick='display_form("password_container")'>password</li>
  </ul>
</nav>
<div id="update_user">
  <div id="gen_info">
    <form method="post" action={{ url_for('update_user', body_id=user.id, form_to_display="gen_info") }}>
      <dl>
      {% if session.role == role_admin %}
        {{ render_field(gen_info_form.username, autofocus="autofocus", value=user.username) }}
      {% endif %}
      {{ render_field(gen_info_form.title, value=user.title) }}
      {{ render_field(gen_info_form.lastname, value=user.lastname) }}
      {{ render_field(gen_info_form.firstname, value=user.firstname, width="100%") }}
      {% if user.sex == True %}
        {{ render_field(gen_info_form.sex, checked="checked") }}
      {% else %}
        {{ render_field(gen_info_form.sex ) }}
      {% endif %}
      {{ render_field(gen_info_form.dob, value=user.dob) }}
      {{ render_field(gen_info_form.qualifications, value=user.qualifications) }}
      {{ render_field(gen_info_form.correspondence_name, value=user.correspondence_name) }}
      {{ render_field(gen_info_form.avatar_id, value=user.avatar_id) }}
      {% if session.role == role_dentist or session.role == role_admin %}
        {{ render_field(gen_info_form.registration, value=user.registration) }}
      {% endif %}
      {% if session.role == role_admin %}
        {{ render_field(gen_info_form.status, value=user.status) }}
        {{ render_field(gen_info_form.role, value=user.role) }}
        {{ render_field(gen_info_form.comments, value=user.comments) }}
        {{ render_field(gen_info_form.modified_by, value=user.modified_by) }}
      {% endif %}
      <input type=submit value="Update" />
     </dl>
    </form>
  </div>

  {{ update_phone_form(phone_form, user, "update_user_phone", "delete_user_phone", "add_user_phone") }}
<!-- Add a trick for body.family_id or update_address_form -->
  {{ update_address_form(address_form, user, user.addresses, "update_user_address", "delete_user_address", "add_user_address") }}
  {{ update_mail_form(mail_form, user, "update_user_mail", "delete_user_mail", "add_user_mail") }}

  <div id="password_container">
    <form method="post" action={{ url_for('update_user_password', body_id=user.id, form_to_display='password_container') }}>
      <dl>
        {{ render_field(password_form.password) }}
        {{ render_field(password_form.confirm) }}
      </dl>
      <input type="submit" value="Change password" />
    </form>
  </div>
</div>
{% if form_to_display %}
  <script> 
    display_form({{ form_to_display }}) ;
  </script>
{% endif %}
{% endblock %}

