{% from "_formhelpers.html" import render_field, render_hidden_field, render_simple_field_line %}
{% from "_formhelpers.html" import render_time_field %}
{% extends "summary_patient.html" %}
  {% block main %}
    <form method="post" action="{{ url_for('update_appointment', body_id=patient.id, appointment_id=appointment.id) }}">
      {% block appointment_data %}
        {{ render_hidden_field(appointment_form.patient_id, value=patient.id) }}
        {{ render_simple_field_line(appointment_form.dentist_id) }}
        {{ render_simple_field_line(appointment_form.dental_unit_id) }} 
        Costs :  {{ appointment.hour_cost }} ; {{ appointment.dentist_fees }}<br /><br />
        {{ render_simple_field_line(appointment_form.emergency) }}
        {{ render_simple_field_line(appointment_form.absent) }}
        {{ render_simple_field_line(appointment_form.excuse) }}<br />
        {{ render_simple_field_line(appointment_form.reason) }}
        {% if session.role == session.ROLE_DENTIST %}
          {{ render_simple_field_line(appointment_form.diagnostic) }}<br />
          {{ render_simple_field_line(appointment_form.treatment) }}
          {{ render_simple_field_line(appointment_form.prognostic) }}<br />
          {{ render_simple_field_line(appointment_form.advise) }}
          {{ render_simple_field_line(appointment_form.next_appointment) }}<br />
        {% endif %}
      {% endblock %}
      {% block agenda_schedule %}
        <p>Schedule</p>
        {{ render_simple_field_line(agenda_form.day) }} at {{ render_time_field(agenda_form.starthour, style="width:30px;") }}{{render_time_field(agenda_form.startmin, style="width:30px;") }} duration {{ render_time_field(agenda_form.durationhour, style="width:30px;") }}{{ render_time_field(agenda_form.durationmin, style="width:30px;") }}
      {% endblock %}
      <input type="submit" value="Update" />
    </form>
  {% endblock %}
