{% extends 'header.html' %}
{% block main %}
{% from "_formhelpers.html" import render_field %}
<form method="post" action="{{ url_for('update_gesture', 
                                gesture_id=gesture.id) }}">
  <dl>
    {{ render_field(gesture_form.specialty_id) }}
    {{ render_field(gesture_form.code) }}
    {{ render_field(gesture_form.alias) }}
    {{ render_field(gesture_form.name) }}
    {{ render_field(gesture_form.color) }}
  </dl>
  <p><input type="submit" value="Update">
</form>
{% endblock %}
