{% extends 'summary_patient.html' %}
{% block css_sum %}
  <link rel="stylesheet" type="text/css" href="/static/update_user.css">
{% endblock %}
{% block javascript_specific %}
  <script type="text/javascript" src="/static/js/update_user.js"></script>
{% endblock %}
{% block main %}
{% from "_formhelpers.html" import render_field %}
{% from "_formhelpers.html" import render_table_field %}
{% from "_formhelpers.html" import render_table_hidden_field %}
{% from "_contactformhelper.html" import update_phone_form %}
{% from "_contactformhelper.html" import update_address_form %}
{% from "_contactformhelper.html" import update_mail_form %}
<nav id="update_choices">
  <ul>
    <li onclick='display_form("gen_info")'>general_infos</li>
    <li onclick='display_form("address")'>address</li>
    <li onclick='display_form("phone")'>phone</li>
    <li onclick='display_form("mail")'>mail</li>
    <li onclick='display_form("SSN")'>social security</li>
  </ul>
</nav>
{% if session.role != session.ROLE_ADMIN %}
<div id="update_patient">
  <div id="gen_info">
    <form method="post" action={{ url_for('update_patient', body_id=body.id, form_to_display='gen_info') }}>
      <dl>
        {{ render_field(gen_info_form.title, value=body.title) }}
        {{ render_field(gen_info_form.lastname, value=body.lastname) }}
        {{ render_field(gen_info_form.firstname, value=body.firstname) }}
        {% if body.sex == True %}
          {{ render_field(gen_info_form.sex, checked="checked") }}
        {% else %}
          {{ render_field(gen_info_form.sex) }}
        {% endif %}
        {{ render_field(gen_info_form.dob, value=body.dob) }}
        {{ render_field(gen_info_form.job, value=body.job) }}
        {{ render_field(gen_info_form.qualifications, value=body.qualifications) }}
        {{ render_field(gen_info_form.preferred_name, value=body.preferred_name) }}
        {{ render_field(gen_info_form.correspondence_name, value=body.correspondance_name) }}
        {{ render_field(gen_info_form.inactive, value=body.inactive) }}
        {{ render_field(gen_info_form.family_id, value=body.family_id) }}
        {{ render_field(gen_info_form.office_id, value=body.office_id) }}
        {{ render_field(gen_info_form.dentist_id, value=body.dentist_id) }}
        {{ render_field(gen_info_form.socialsecurity_id, value=body.socialsecurity_id) }}
        {% if body.payer %}
          {{ render_field(gen_info_form.payer, checked="checked") }}
        {% else %}
          {{ render_field(gen_info_form.payer) }}
        {% endif %}
        <input type=submit value="Update" />
      </dl>
    </form>
  </div>

  {{ update_phone_form(phone_form, body, "update_patient_phone", "delete_patient_phone", "add_patient_phone") }}
<!-- Add a trick for body.family_id or update_address_form -->
  {{ update_address_form(address_form, body, body.family.addresses, "update_patient_address", "delete_patient_address", "add_patient_address") }}
  {{ update_mail_form(mail_form, body, "update_patient_mail", "delete_patient_mail", "add_patient_mail") }}

<!-- Add a trick for body.socialsecurity_id  or the next div -->
  <div id="SSN">
    <form method="post" action={{ url_for('update_patient_SSN', body_id=body.id, form_to_display='SSN') }}>
      <dl>
        {{ render_field(SSN_form.SSN) }}
        {% if body.socialsecurity.cmu == True %}
          {{ render_field(SSN_form.cmu, checked="checked") }}
        {% else %}
          {{ render_field(SSN_form.cmu) }}
        {% endif %}
        {{ render_field(SSN_form.insurance) }}
      </dl>
      <input type="submit" value="Update SSN" />
    </form>
  </div>
</div>
{% endif %}
{% endblock %}
