{% extends 'header.html' %}
{% block main %}
{% if not kit.sterilization %}
Update Kit {{ kit.id }} -- {{ kit.asset_kit_structure.name }}
<br /><br />
Assets in kit :<br />
  {% for asset in kit.assets %}
    {% if asset.type == 'superasset' %}
    <a href="{{ url_for('view_asset', asset_id=asset.id) }}">
      {{ asset.id }} -- {{ asset.superasset_category.name }}
                    -- {{ asset.description }}
    </a> ;
    {% else %}
    <a href="{{ url_for('view_asset', asset_id=asset.id) }}">
    {{ asset.id }} -- {{ asset.asset_category.brand }} 
                              {{ asset.asset_category.commercial_name }}
                              -- {{ asset.description }}
    </a> ;
    {% endif %}
    <a href="{{ url_for('remove_asset_from_kit',
                    kit_id=kit.id,
                    asset_id=asset.id) }}">
                    Remove</a><br />
  {% endfor %}
  <br />

SuperAssets not in kit :<br />
  {% for superasset in superassets %}
    <a href="{{ url_for('view_asset', asset_id=superasset.id) }}">
    {{ superasset.id }} -- {{ superasset.superasset_category.name }}
                       -- {{ superasset.description }}
    </a>
     ; 
    <a href="{{ url_for('add_asset_in_kit',
                          kit_id=kit.id, asset_id=superasset.id) }}">
                    Add</a><br />
  {% endfor %}

Assets not in kit :<br />
  {% for asset in assets %}
    <a href="{{ url_for('view_asset', asset_id=asset.id) }}">
    {{ asset.id }} -- {{ asset.asset_category.brand }}
                          {{ asset.asset_category.commercial_name }}
                    -- {{ asset.description }}
    </a> ; 
    <a href="{{ url_for('add_asset_in_kit', 
                            kit_id=kit.id, asset_id=asset.id ) }}">
                    Add</a><br />
  {% endfor %}
{% else %}
Kit sterilized ; not updatable<br />
<a href="{{ url_for('list_kits') }}">Return to list kit</a>
{% endif %}
{% endblock %}
