{% from "_formhelpers.html" import render_field %}
{% from "_formhelpers.html" import render_table_field %}
{% from "_formhelpers.html" import render_table_hidden_field %}
{% from "_contactformhelper.html" import update_phone_form %}
{% from "_contactformhelper.html" import update_address_form %}
{% from "_contactformhelper.html" import update_mail_form %}

{% extends 'update.html' %}
{% block main %}
  {% if session.role == session.ROLE_DENTIST or session.role == session.ROLE_NURSE or session.role == session.ROLE_ASSISTANT %}
    <nav id="update_choices">
      <ul>
        <li onclick='display_form("gen_info")'>General information</li>
        <li onclick='display_form("address")'>Address</li>
        <li onclick='display_form("phone")'>Phone</li>
        <li onclick='display_form("mail")'>Mail</li>
      </ul>
    </nav>
    <div id="update_md">
      <div id="gen_info">
        <form method="post" action={{ url_for('update_md', body_id=doctor.id, form_to_display='gen_info') }}>
          <dl>
            {{ render_field(gen_info_form.lastname) }}
            {{ render_field(gen_info_form.firstname) }}
            <input type="submit" value="Update" />
          </dl>
        </form>
      </div>

      {{ update_phone_form(phone_form, doctor, "update_md_phone", "delete_md_phone", "add_md_phone") }}
      {{ update_address_form(address_form, doctor, "update_md_address") }}
      {{ update_mail_form(mail_form, doctor, "update_md_mail", "delete_md_mail", "add_md_mail") }}

    </div>
  {% endif %}
{% endblock %}
