{% extends 'layout.html' %}
{% block main %}
{% from "_formhelpers.html" import render_field %}
<form method="post" action="/md/update_md/id={{ doctor.id }}/">
  <dl>
    {{ render_field(form.lastname, value=doctor.lastname) }}
    {{ render_field(form.firstname, value=doctor.firstname) }}
    {% if doctor.phones %}
      {{ render_field(form.phonename, value=doctor.phones[-1].phonename) }}
      {{ render_field(form.phonenum, value=doctor.phones[-1].phonenum) }}
    {% else %}
      {{ render_field(form.phonename) }}
      {{ render_field(form.phonenum) }}
    {% endif %}
    {% if doctor.mails %}
      {{ render_field(form.email, value=doctor.mails[-1].email) }}
    {% else %}
      {{ render_field(form.email) }}
    {% endif %}
    {% if doctor.addresses %}
      {{ render_field(form.street, value=doctor.addresses[-1].street) }}
      {{ render_field(form.building, value=doctor.addresses[-1].building) }}
      {{ render_field(form.city, value=doctor.addresses[-1].city) }}
      {{ render_field(form.postal_code, value=doctor.addresses[-1].postal_code) }}
      {{ render_field(form.county, value=doctor.addresses[-1].county) }}
      {{ render_field(form.country, value=doctor.addresses[-1].country) }}
    {% else %}
      {{ render_field(form.street) }}
      {{ render_field(form.building) }}
      {{ render_field(form.city) }}
      {{ render_field(form.postal_code) }}
      {{ render_field(form.county) }}
      {{ render_field(form.country) }}
    {% endif %}
  </dl>
  <p><input type="submit" value="Update">
</form>
{% endblock %}

<!---->
