{% extends "header.html" %}
{% block main %}
{% if session.role != session.ROLE_ADMIN %}
  <a href="{{ url_for('add_asset') }}">Add new asset</a>
{% endif %}
<br />
    {{ asset.id }} ({{ asset.asset_category.id }}) -- 
    {{ asset.asset_category.brand }}  -- 
    {{ asset.asset_category.commercial_name }} <br />
  Description : {{ asset.asset_category.description }} <br />
  {% if asset.superassets[-1] 
      and asset.superassets[-1].end_use_reason == session['in_use_stock'] 
      and not asset.superassets[-1].end_of_use %}
      Asset is element of 
      <a href="{{ url_for('view_asset', asset_id=asset.superassets[-1].id) }}">
      SuperAsset {{ asset.superassets[-1].id }} - 
                  {{ asset.superassets[-1].superasset_category.name }}
      </a><br />
      {% if asset.superassets[-1].superasset_category.sterilizable %}
        This super asset was sterilized 
        <a href="{{ url_for('view_sterilization_cycle', 
        ste_cycle_id=asset.superassets[-1].sterilizations[-1].sterilization_cycle_id) }}">
        on sterilization cycle {{ asset.superassets[-1].sterilizations[-1].sterilization_cycle_id }}
        </a> which is valid until :
        {% if not asset.superassets[-1].sterilizations[-1].appointment_id 
          and asset.superassets[-1].sterilizations[-1].expiration_date > today %}
            {{ asset.superassets[-1].sterilizations[-1].expiration_date }}
        {% else %}
          SuperAsset to sterilize
        {% endif %}
      {% endif %}
  {% endif %}
  {% if asset.is_sterilizable() and asset.sterilizations[-1] %}
      The <a href="{{ url_for('view_sterilization_cycle', 
          ste_cycle_id=asset.sterilizations[-1].sterilization_cycle_id ) }}">
          Sterilization {{ asset.sterilizations[-1].sterilization_cycle_id }}
        </a> is valid until :
      {% if not asset.sterilizations[-1].appointment_id 
         and asset.sterilizations[-1].expiration_date > today %}
            {{ asset.sterilizations[-1].expiration_date }}
      {% else %}
        Item to sterilize
      {% endif %}
  {% else %}
    Item was never sterilized
  {% endif %}<br />
  Element of kit : {{ asset.element_of_kit() }} <br />
  Asset provider : {{ asset.provider.name }} <br />
  Acquisition Date : {{ asset.acquisition_date }} <br />
  Acquisition Price : {{ asset.acquisition_price }} <br />   
  Owner : {{ asset.user.username }} <br />
  Office : {{ asset.office.office_name }} <br />
  Start of use : {{ asset.start_of_use }} <br />
  Expected lifetime : {{ asset.lifetime_expected }} <br />
  end of use : {{ asset.end_of_use }} <br />
  Reason to end of use : 
    {% for reason in session.end_use_reason %}
      {% if reason[0] == asset.end_use_reason %}
        {{ reason[1] }}
      {% endif %}
    {% endfor %}
  <br />
  <a href="{{ url_for('update_asset', asset_id=asset.id) }}">Update</a>

{% endblock %}
