{% extends "header.html" %}
{% block main %}
{% if session.role != session.ROLE_ADMIN %}
{% endif %}
<br />
    {{ asset_category.id }} -- 
    {{ asset_category.brand }} -- 
    {{ asset_category.commercial_name }}<br />
    This asset is {% if not asset_category.sterilizable %} not {% endif %} sterilizable.<br />
    {% if asset_category.sterilizable %}
      The mean validity of sterilization is {{ asset_category.validity }}.
    {% endif %}<br />
  <a href="{{ url_for('update_asset_category', 
                        asset_category_id=asset_category.id) }}">
    Update this asset category</a>
  <br /><br />
  {% for a in asset_category.assets %}
    <a href="{{ url_for('view_asset', asset_id=a.id) }}">
      {{ a.id }} : {{ a.acquisition_date }} - 
                   Price: {{ a.acquisition_price }} -
                   Start using {{ a.start_of_use }} <br />
      State {{ session['end_use_reason'][a.end_use_reason][1] }} --
      {% if a.end_use_reaon %} End of use : {{ session.end_of_use }}
      {% endif %}
    </a><br />

  {% endfor %}
  <br />

{% endblock %}
