{% extends "header.html" %}
{% block main %}
<br />
<h3>{{ healthcare_plan.name }}</h3>
  <a href="{{ url_for('update_healthcare_plan', 
                  healthcare_plan_id=healthcare_plan.id) }}">
    Update healthcare_plan name
  </a><br /><br />
{% for cotation in healthcare_plan.cotations %}
  <a href="{{ url_for('view_gesture', gesture_id=cotation.gesture.id) }}">
    {{ cotation.gesture.name }}</a>: 
    {{ cotation.price }} -- 
    {{ cotation.active }} || {{ cotation.gesture.specialty.name }}
  <br />

{% endfor %}


{% endblock %}
