{% extends 'summary_patient.html' %}
{% from '_formhelpers.html' import render_simple_field %}
{% block main %}
<a href="{{ url_for('patient_appointment', appointment_id=appointment.id ) }}">
  Return to appointment</a><br />
<h2>View appointment's clinic report</h2>

{#<a href="{{ url_for('add_clinic_gestures_from_cotation_to_clinic_report', 
                                          appointment_id=appointment.id) }}">
      Add clinic gestures from cotation</a>
#}
<table>
  <tr>
    <td>
      <form method='post' 
            action='{{ url_for('choose_clinic_gestures_from_cotation',
                                                appointment_id=appointment.id) }}'>
          {{ render_simple_field(cotation_form.anatomic_location) }}
            {{ cotation_form.cotation_id }} {{ cotation_form.submit }}
      </form>
    </td>
    <td>
      <form method='post' action='{{ url_for('add_clinic_gesture_to_clinic_report',
                                                appointment_id=appointment.id) }}'>
          {{ render_simple_field(cg_form.anatomic_location) }} 
            {{ cg_form.clinic_gesture_id }} {{ cg_form.submit }}
      </form>
    </td>
  </tr>
</table>

  <div style="float:left;width:25%;height:100%">
    <strong>Cotations</strong><br />
    {% for cotation in cotations %}
      {{ cotation.gesture.name }}<br />
    {% endfor %}
  </div>
  <div style="float:left;width:40%;height:100%">
    <strong>Clinic Gestures</strong><br />
    {% for cr_cg_ref in clinic_gestures %}
      {{ cr_cg_ref.sequence }} -- {{ cr_cg_ref.anatomic_location }} 
      {{ cr_cg_ref.clinic_gesture.name }} -- {{ cr_cg_ref.duration }}
      <a href="{{ url_for('remove_cg_from_cr', clinic_report_id=cr_cg_ref.id) }}">
          Remove</a><br />
    {% endfor %}
  </div>
  <div style="float:right">
    <strong>Materio Vigilance</strong><br />
{#    {% for mat_vig in materio_vigilance %}
      {{ mat_vig.material.asset_category.commercial_name }} 
        {{ mat_vig.quantity_used }} 
        {{ constants.UNITIES[mat_vig.material.asset_category.unity][1] }}<br />
    {% endfor %}
#}
      <form method='post' action="{{ url_for('update_material_quantity',
                                                appointment_id=appointment.id) }}">
        {% for asset_form in materials_used_form.materials_used %}
          <a href="{{ url_for('view_asset', asset_id=asset_form.material_id.data) }}">
            {{ asset_form.material_data.data }}
          </a>
          {{ asset_form.material_id }}
          {{ asset_form.old_quantity_used }} 
          {{ asset_form.new_quantity_used }}
          <br />
{#        <a href="{{ url_for('remove_material_used_in_appointment', 
                                        patient_id=patient.id,
                                        appointment_id=appointment.id,
                                        material_id=asset_form.material_id.data ) }}">
            Remove</a><br />
#}
        {% endfor %}
        <br />
        {{ materials_used_form.update }}
      </form>
  </div>

{% endblock %}
