{% extends "summary_patient.html" %}
{% block main %}
{% from "_formhelpers.html" import render_field %}
Materio-vigilance : material used in this appointment :
<br />
{% for asset in material_used %}

  {{ asset.id }} -- {{ asset.asset_category.brand }} 
                    {{ asset.asset_category.commercial_name }}
                    {{ asset.asset_category.description }}

  <br />
{% endfor %}

<br />
<a href="{{ url_for('patient_appointment', appointment_id=appointment.id) }}">
  Quit adding sterilized assets used in this appointment
</a><br /><br />

<a href="{{ url_for('update_material_used_in_appointment',
                  patient_id=patient.id, appointment_id=appointment.id) }}">
          DO NOT CLICK, TO REMOVE, TEMPOARRY RETRO-COMPATIBILITY Add material used to this appointment.
</a>


{% endblock %}
