{% extends "header.html" %}
{% block main %}
{% if session.role != session.ROLE_ADMIN %}
  <a href="{{ url_for('add_asset') }}">Add new asset</a>
{% endif %}
<a href="{{ url_for('view_asset_category', 
                    asset_category_id=asset.asset_category_id) }}">
  View this asset's category
</a>

<br />
    {{ asset.id }} ({{ asset.asset_category.id}} --   {{ asset.asset_category.brand }}  -- {{ asset.asset_category.commercial_name }} <br />
  Category description : {{ asset.asset_category.description }} <br />
  Material description : {{ asset.description }} <br />
  Asset provider : {{ asset.provider.name }} <br />
  Acquisition Date : {{ asset.acquisition_date }} <br />
  Acquisition Price : {{ asset.acquisition_price }} <br />   
  Owner : {{ asset.user.username }} <br />
  Office : {{ asset.office.office_name }} <br />
  Start of use : {{ asset.start_of_use }} <br />
  Actual Quantity : {{ asset.actual_quantity }} <br />
  Expiration Date : {{ asset.expiration_date }} <br />
  Batch Number : {{ asset.batch_number }} <br />
  Expiration alert : {{ asset.expiration_alert }} <br />
  End of use : {{ asset.end_of_use }} <br />
  <br />
  <a href="{{ url_for('update_asset', asset_id=asset.id) }}">Update</a>

{% endblock %}
