{% extends "header.html" %}
{% block main %}
<br />
{% from "_formhelpers.html" import render_simple_field_line, render_simple_hidden_field %}
<h2>{{ survey.name }}</h2>
<a href="{{ url_for('print_base_survey', survey_id=survey.id)}}">Print survey</a>
<br />
<br />
Questions in survey :<br />
{% for question in question_form_list %}
  <a href="{{ url_for('remove_question_from_survey', survey_id=survey.id,
        question_id=question[0].question_id )}}">
        Remove</a> 
          -- {{ question[0].question.question }} 
        <form method="post" action={{ url_for('view_survey', 
                                      survey_id=survey.id) }}>
          {{ render_simple_hidden_field(question[1].question_id) }}
          {{ render_simple_hidden_field(question[1].old_position) }}
          {{ render_simple_field_line(question[1].new_position) }} 
          <input type="submit" value="update"> </form>
              <br />
{% endfor %}
<br /><br /><br />
Questions not in survey :<br /> 
{% for question in new_questions %}
  <a href="{{ url_for('add_question_to_survey', survey_id=survey.id,
                                                question_id=question.id) }}">
        Add</a> -- {{ question.question }}<br />
{% endfor %}
<br /><br />
<a href="{{ url_for('update_survey_name', survey_id=survey.id) }}">
  Update survey name</a><br />
{% endblock %}
